[2015-11-01 12:28] davidskaarup opened #1 "Error: Requiring unknown module "art/core/color""
I get the following error after following the install instructions:

Error: Requiring unknown module "art/core/color". If you are sure the module is there, try restarting the packager.

Am I missing something? (I have tried restarting the packager)

[2015-11-01 16:37] bgryszko commented on #1
Are you trying to use it in the existing project or in example project? Looks like art lib isn't there. Did you `npm install`? You can also try `npm install art`. Let me know if it helps.

[2015-11-01 17:32] davidskaarup commented on #1
You're right, I was missing the art lib - it's working now. Thanks :+1:

[2015-11-01 20:57] bgryszko commented on #1
You're welcome

[2015-11-01 20:57] #1 closed

[2015-11-25 22:22] tomauty opened #3 "Possible to determine start point?"
Hi, hopefully this question makes sense. I'd like for my progress circle to go clockwise, however it looks like it starts animating from the right side?
<img width="213" alt="screen shot 2015-11-25 at 5 20 22 pm" src="https://cloud.githubusercontent.com/assets/1112872/11410864/f8e0293a-9398-11e5-9b26-9ccc8b45e24d.png">

I'm not super familiar with ART, but if I could be led in a direction that wou

[2015-11-26 11:37] bgryszko commented on #3
Hi @tomauty, I've just pushed new version. You can now set `rotation={0}` as described in https://github.com/bgryszko/react-native-circular-progress#configuration to start your progress from the 0* angle.

[2015-11-26 11:37] #3 closed

[2015-11-28 04:36] tomauty commented on #3
Thank you!!

[2015-12-01 20:42] tomauty opened #4 "Shadow?"
Hi, it's me again. I think this one might require some more digging and/or a PR, but was wondering if it would be possible to add some type of shadow prop? This way we can create a 'glow' around the progress circle :)

[2015-12-01 21:39] bgryszko commented on #4
Hi,

You could try adding style with shadow to a Surface component that is inside or just pass style to a component and see if it works, this way it'll be more universal (as long as it'll render correctly). I'd be happy to accept PR

Bart

[2015-12-03 22:00] tomauty opened #5 "License?"
If you haven't guessed, I'd love to use this in a project I'm working on. Would you mind posting a license?

[2015-12-04 10:03] #5 closed

[2015-12-04 15:02] tomauty commented on #5
Thank you!

[2015-12-11 19:11] jasalo opened #6 "Invariant Violation"
I haven't been able to include react-native-circular-progress in my project. It gives me an:
`Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.`
Also, console logs this just before:
`Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for

[2015-12-11 21:07] bgryszko commented on #6
Hi, double check if you've followed installation instructions. Are you able to run the example app that you can find in this repo?

Bart

[2015-12-14 12:43] bgryszko commented on #4
Closing for now. Feel free to submit a PR.

[2015-12-14 12:43] #4 closed

[2015-12-15 10:00] bgryszko commented on #6
I've run int similar issue, please update to `v. 0.0.3`, and let me know if that helps. Reopen if needed.

[2015-12-15 10:00] #6 closed

[2015-12-16 19:01] praisegeek opened #7 "Future android support?"

[2015-12-17 13:00] bgryszko commented on #7
Hi, yes it'll be possible to support Android as soon as react ART is supported (see: https://facebook.github.io/react-native/docs/known-issues.html#views)

[2015-12-17 13:00] #7 closed

[2016-02-05 23:07] jemise111 opened #11 "Android Support"
Using this with RN 0.19.0.

Works great on iOS:

![image](https://cloud.githubusercontent.com/assets/4265163/12861598/8d91c044-cc32-11e5-83b4-36f4fc0b46cf.png)

And RN added ART support on Android as of 0.18.0. (https://github.com/facebook/react-native/releases/tag/v0.18.0)

But there's an issue rendering on Android (Genymotion):

![image](https://cloud.githubusercontent.com/assets/4265163/1286161

[2016-02-17 02:24] tuan23 commented on #11
I'm having the same issue too. Looking forward for a fix.

[2016-02-23 22:55] gunters63 commented on #11
Problem is the module uses the strokeDash feature of ReactART to limit the length of the drawn Path.

strokeDash is not supported for Android yet.

But it should be fairly easy to draw the circle without strokeDash by adjusting the circlePath to draw only the needed part(s) of the arc(s).

[2016-02-24 01:04] gunters63 commented on #11
I have a working solution now for Android which does not use strokeDash anymore.
It requires directly manipulating the internal path array of ReactNativeART Path, because this seems to artificially limit arc to half circles.

Here is a circlePath which will return a correct arc path with start and end angle.
[code]

[2016-02-25 11:32] gaykov commented on #11
@gunters63 amazing solution, thanks! Are you going to create a PR?

[2016-02-26 17:16] gunters63 commented on #11
PR created :)

[2016-02-29 08:50] gaykov commented on #11
@gunters63 thanks! @bgryszko could you update the npm version?

[2016-03-02 21:28] gunters63 commented on #11
Until that happened you could also use:

[code]

in your package.json

[2016-03-04 19:11] bgryszko commented on #11
@gaykov npm updated! Thanks again @gunters63

[2016-03-04 19:11] #11 closed

[2016-03-05 21:10] LongPotato opened #15 "Circle size autoscale?"
Is there anyway to make the circle auto scale its size base on the device screen size?

Currently my work around for this, is to determine the screen size and manually set the size value for circle.

[2016-03-05 21:30] LongPotato commented on #15
Also I am looking for away to make the text inside the circle always in the middle, despite the device screen size.

Thanks

[2016-03-09 19:28] bickerstoff commented on #6
I ran into the same issue with the latest version.  I double checked the installation instructions and here is what worked for me:

I had the following with (which generated the error)
`const AnimatedCircularProgress = require('react-native-circular-progress');`

I changed it to this (which is what is listed in the installation instructions)
`import { AnimatedCircularProgress } from 'react-native-

[2016-03-09 20:07] tomauty commented on #6
Yeah, if you're using `require` you would do it like `const AnimatedCircularProgress = require('react-native-circular-progress').AnimatedCircularProgress;`

[2016-03-16 13:13] caguthrie opened #16 "Explicitly mention MIT licence"
It appears the licence is an MIT licence, but it is not explicitly stated in the readme or in the licence itself.  Happy to submit a PR

[2016-03-24 19:41] #15 closed

[2016-04-03 11:29] cmdillon opened #18 "support for android?"
hi! great component! any chance now that there is art support that there will be a android version soon?

[2016-04-03 16:47] tomauty commented on #18
I believe it does already work for android.

[2016-04-04 03:09] cmdillon commented on #18
hi! thanx for the feedback. do you know or have an example of how to get it up and running in android?

[2016-04-08 05:45] dantman commented on #18
It worked right away in Android for me, not sure if that's because I ran `rnpm link` anyways.

[2016-04-13 05:09] #16 closed

[2016-04-19 22:08] powerc9000 commented on #18
This works for me on android

[2016-04-20 04:06] cmdillon commented on #18
yup, works!

[2016-04-20 04:06] #18 closed

[2016-05-21 05:37] dcworldwide opened #22 "performLinearAnimation should return a callback on complete"
Once the animation is finished, it would be ideal if it returned a callback.

[2016-05-21 23:59] shiv86 opened #23 "No component found for view with name "ARTSurfaceView""
Using:
    "react-native": "^0.24.1",
       "react-native-circular-progress": "0.0.6",

I get the following error below:

<img width="470" alt="screen shot 2016-05-21 at 4 58 34 pm" src="https://cloud.githubusercontent.com/assets/1146219/15451408/49ac3b98-1f75-11e6-92f4-fe9718c88ddb.png">

[2016-05-23 04:12] tuantle opened #24 "Compatibility with react-native 0.26"
Please update to latest react native version.

Error info when running with react v0.26:
Unhandled JS Exception: Super expression must either be null or a function, not undefined

[2016-05-24 04:44] bgryszko commented on #24
Fixed in 94965a535c54f18843c9d764a5f46907cd343027

[2016-05-24 04:44] #24 closed

[2016-05-24 04:48] bgryszko commented on #22
Thanks! I'll be happy to accept PR :)

[2016-05-24 12:20] dcworldwide commented on #22
Ok, i'll try to get to it. I've worked around it for now using a setTimeout hack

[2016-06-01 10:50] sschengyf commented on #23
I have the same issue, I guess it is a problem caused by react-native-progress library

[2016-06-01 11:33] Leeds-eBooks commented on #23
I did and I am getting this error. Is there an easy way to check that it has linked correctly? `rnpm link` returned no errors.

[2016-06-01 11:38] dionysiusmarquis commented on #23
I drag and dropped `node_modules/react-native/Libraries/ART/ART.xcodeproj` somewhere to my Xcode project. After that I was able to add `libART.a` under `Build Phases` -> `Link Binary With Libraries`

[2016-06-02 09:48] sschengyf commented on #23
@shiv86
I have found the solution for this problem.
It is caused by ART library which is to draw vector graphics using React.
You do not need to download anything, ART library is already in React-Native libraries.
Merely linking it to your project via Xcode can resolve the problem.
This article provides detailed steps, [https://www.smashingmagazine.com/2016/04/how-to-build-your-first-ios-app-with-

[2016-06-02 19:12] RezaRahmati commented on #23
@sschengyf  @dionysiusmarquis  Thanks it solves my issue too 👍

[2016-06-03 06:55] bgryszko commented on #23
Glad to hear it solves your issue. @dionysiusmarquis @sschengyf thanks for support!

[2016-06-03 06:55] #23 closed

[2016-06-07 22:14] mathjoy opened #25 "stopped working with react-native 0.26.1"

[2016-06-08 01:44] corbt commented on #25
I'm not sure what upgrade broke it, but I can confirm that as of the latest version of React Native the `CircularProgress` component doesn't appear to render anything. I'm using it like this:

[code]

On older versions of React Native this rendered correctly, but now I just get a blank box in my layout where the progress indicator should be.

[2016-06-08 23:31] corbt commented on #25
Actually I was running against `master` and my issue was fixed in https://github.com/facebook/react-native/commit/b0fed416cbb510009bef1ae721e564d04d053cc5

[2016-06-15 22:06] evollu commented on #25
so it is not an issue anymore?

[2016-06-21 14:34] evollu opened #26 "allow strokeCap customization?"
Can you make strokeCap a customizable attribute?

[2016-06-29 15:39] EugeneLiang opened #28 "Android support ?"
Hi there!

This is a really cool effect!

May i know if this is supported in Android ? If not, any plans to support this ?

Thanks!

[2016-07-01 20:28] bgryszko commented on #28
Hey, check #18

[2016-07-01 20:28] #28 closed

[2016-07-01 20:30] bgryszko commented on #26
Hey @evollu, feel free to make a PR :)

[2016-07-01 20:30] #26 closed

[2016-07-01 20:30] #22 closed

[2016-07-06 14:04] EugeneLiang opened #29 "Infinite loop?"
Hi there,
great module as usual, tried it and works great on iOS and Android!

I was wondering how this module can be used to do infinite loop ?
For example, it will always animate ?

Best Regards.

[2016-07-14 07:03] bgryszko commented on #29
Hi @EugeneLiang, I'm not sure I understand the concept you're talking about. You want to make a kind of "loader"? Can you illustrate what do you have in mind?

[2016-07-15 00:43] joelwass opened #30 "Re rendering of component when fill={this.state.number}"
When this.state.number is updated, the animation is not re rendering. the children of the AnimatedCircularProgress are being updated and re rendered, however the AnimatedCircularProgress itself isn't being re rendered with the animation, etc.

[2016-07-18 13:44] perrosnk opened #32 "Place text or button inside the circle"
Is it possible to place a text or a button inside the circle?
I am trying to do so, following the instructions in the main page, but the text, appears below the circle.
The only way I can find is to place the text inside using flexbox margin, but I was trying to find a better way.

Thank you!

[2016-07-18 14:26] tomauty commented on #32
I usually have one `<View>` as a child of the circle, with a style like this
[code]

[2016-07-25 18:49] tarang9211 opened #33 "Issue running example"
I tried to run the example to see how to implement this component.
I received the attached error. Any idea what could this be related to?
<img width="364" alt="screen shot 2016-07-26 at 12 16 01 am" src="https://cloud.githubusercontent.com/assets/5876249/17113051/749674de-52c6-11e6-8294-bd0833ba3f33.png">

I tried following the listed steps to fix the issue, but none worked.

[2016-07-27 18:19] leecade opened #34 "Need a way to control Circle fill color"

[2016-07-29 07:59] abeikverdi commented on #29
@bgryszko I am also looking for the same thing. In my case I have two circles, one for seconds and the other for minutes. Once the second loop is finished, I want it to start over. Does that make sense?

[2016-07-29 13:56] tomauty commented on #29
I think this is just a matter of controlling the fill, no? It will already animate when the fill changes.

[2016-08-01 06:09] abeikverdi commented on #29
@tomauty  how do i restart the circular progress once its finished? I need to it to do the same process once fill is 100.

[2016-08-02 09:47] bgryszko commented on #29
If I understand correctly, you want be able to animate begining of the circle and then then end of the circle? Something similar to this:
http://4.bp.blogspot.com/-tqB3UP6KYaM/VItDu0F9kdI/AAAAAAAAATs/QB0X4AqWWY0/s1600/spinningwheel.gif

If so, you'd need to edit this line https://github.com/bgryszko/react-native-circular-progress/blob/master/src/CircularProgress.js#L39 which is `start degree`. We

[2016-08-03 06:22] abeikverdi commented on #29
@bgryszko I am not following. I want the later. Just restarting the circle animation.
I start the animation like this:
`    this.refs.circularProgress.performLinearAnimation(100, 60000);
`
and then this is my circle:
[code]
So basically it works fine and it fills the AnimatedCircularProgress to 100 in 60 seconds. Once its 100, now I want it to do this again. where do i set the fill to 0? and how t

[2016-08-03 06:28] abeikverdi commented on #29
Ah hold on. I can put state in the fill and change it from there. This performLinearAnimation made me confused a bit. Thanks for the great library btw. Keep it up.

[2016-08-03 06:34] bgryszko commented on #29
Exactly, just use the "fill" prop and control it from your component.

[2016-08-03 06:40] abeikverdi commented on #29
cheers! I guess this was the original question. Probably we should close the issue.

[2016-08-16 07:04] bgryszko commented on #34
[code]

[2016-08-16 07:04] #34 closed

[2016-08-16 07:06] #32 closed

[2016-08-16 07:11] bgryszko commented on #30
Can you explain what are you trying to achieve? Did you have a chance to look at the example (https://github.com/bgryszko/react-native-circular-progress/blob/master/example/ProgressChart/main.js) – it is using `state` to control AnimaterCircularProgress fill. Feel free to reopen if needed.

[2016-08-16 07:11] #30 closed

[2016-08-16 07:12] #29 closed

[2016-08-16 07:12] #25 closed

[2016-08-30 06:51] ksrawat opened #36 "Is it possible to progress circles one by one?"
Hey @bgryszko . Its really fantastic using this component. I was just wondering if you can give me some direction towards one of my edge case?

I have three progress circles but i wanna show them one after another i.e once first one is over, display second, and then third?

How can we achieve this?

[2016-08-30 11:02] bgryszko commented on #36
Hi @ksrawat, you fully control the "fill" of progress circles from a component in which you are rendering progress circles (in its state – take a look at the [example](https://github.com/bgryszko/react-native-circular-progress/blob/master/example/ProgressChart/main.js#L57)). You can keep 3 different values in the state for 3 of your circles and show them one after another calculating what's needed

[2016-08-30 11:02] #36 closed

[2016-09-14 06:44] mvnpgh opened #37 "How to fill the circle with 2 different colors"
Hi @bgryszko
I want to fill a circle with different colors and different points
is it possible with this module.
thanks

[2016-09-14 07:11] bgryszko commented on #37
It's possible to change color of the circle
[code]

You could also have different circles with different colors on top of each other. However if you'd like to have gradient change of the color – it's not implemented so it would need some work. Please explain what exactly you want to achieve.

[2016-09-20 14:14] #37 closed

[2016-10-01 08:47] jaysson commented on #26
#38 should would provide this functionality and more.

[2016-10-05 04:25] CapitanRedBeard commented on #33
If clearing derived data, deleting the app, and running the above commands to start the packager, then the problem is probably something syntactical in your code. Double check variable names and files paths!

[2016-10-13 12:05] waleedarshad-vf opened #40 "Write documentation for ART library"
i am unable to find documentation for Art library. it's different request but we community need it. your  help would be appreciated

[2016-10-18 20:30] fdnhkj opened #41 "Conical gradient support"
It would be nice to have support for conical gradient.
Has anyone an idea on how to implement it ?

![colorgradient](https://cloud.githubusercontent.com/assets/5569608/19495073/20b71cd4-9582-11e6-9830-02d2ce2f2b47.jpg)

[2016-10-22 23:34] mschipperheyn commented on #23
@sschengyf that links doesn't work (or needs a subscription or something)

[2016-10-27 16:13] GroupXTech commented on #41
Any luck on finding your conical gradient... I need that in a slider as well

[2016-10-28 08:28] morelazers commented on #41
Yes I'm looking for something similar, I want to animate the colour of the fill.

I can get it to work by removing the validation of `PropTypes.string` but it is incredibly slow.

[2016-11-14 10:34] amos80m opened #42 "Run without animation"
Hi,
i need the "circular-progress" to run only once, when the app started.
so first page view will do animation and in the next time i am coming back to this page, not to run the animation once again.

[2016-12-12 13:02] imarem commented on #29
Hi @abeikverdi could you share your solution, for restarting the circle animation? i have de same problem, using the performLinearAnimation function.

thanks!!

[2016-12-12 13:56] bgryszko commented on #29
@imarem, just use state to control the animation fill, like this (without using performAnimation):
[code]

[2016-12-12 14:02] bgryszko commented on #42
I'm not sure if you've found solution for this. But if not, here is how you can achieve that. I assume you're mounting/unmounting the component and that's why it's reloading the animation. You could use `prefill` prop – it's taken as value of initial state (0 if not passed). So when you want circle filled up to 95% for example and don't perform animation, you should set `prefill` and `fill` to 95.

[2016-12-12 14:02] #42 closed

[2016-12-12 14:04] bgryszko commented on #33
Thanks @CapitanRedBeard for support. As there where no more comments I assume it's fixed.

[2016-12-12 14:04] #33 closed

[2016-12-12 15:43] imarem commented on #29
Hi @bgryszko, I'm so sorry, but I'am not following. :(,

Can you put an example?

Thanks for the quick response!!

[2016-12-12 15:44] bgryszko commented on #29
An example is the code above ;-) Can you share the code for the component that you're using AnimatedCircularProgress in?

[2016-12-12 16:15] imarem commented on #29
I use a function like this, to run animation during one minute, and then, (when de minute is finish) I want it to do this again.
btnStart = () => {
     this.refs.circularProgress.performLinearAnimation(100, 60000);
  }

The animationFill state, that you mentioned, what value I have to put there to make this scenario?

[2016-12-13 07:55] abeikverdi commented on #29
Assuming `animationFill `is your `fill `then just when your fill is 100 then `setState({animationFill: 0})`

[2016-12-28 21:04] bfarrgaynor opened #43 "Android support?"
Will this work in android as well as iOS?

[2016-12-30 22:17] sampocs commented on #23
@dionysiusmarquis @sschengyf  I followed those steps but I'm still getting the error. On XCode the file libART.a is highlighted red indicating that it is missing. If either of you could send me the file, that could possibly fix everything! Thanks

[2017-01-07 09:11] bgryszko commented on #43
Yes @bfarrgaynor, I've just updated Readme as well as example App to work on Android.

[2017-01-07 09:11] #43 closed

[2017-01-07 09:18] bgryszko commented on #41
@fdnhkj Cannonical gradients aren't supported in SVG. In my other component (https://github.com/bgryszko/react-native-circular-slider) I achieve exactly what you're looking for by splitting circle into segments and draw small linear gradients – in practice if gradient colors difference is subtle or there are enough "segments" it'll look as if it's cannonical gradient.

Link to specific code:
https

[2017-01-07 16:27] bfarrgaynor commented on #43
Amazing thank-you for your efforts @bgryszko! This project saved me a lot of time on a project I was working on. If you need assistance with anything let me know how I can help.

[2017-01-07 16:29] bgryszko commented on #43
Sure thing, thanks!

[2017-01-07 23:47] fdnhkj commented on #41
Indeed, I forgot to update this issue with my findings, I'll try to find back my repo & share it.

Basically I switched to react-native-svg and as you mentioned splited the circle in multiple segments with attached linear gradients (see [http://jsfiddle.net/Cy7ec/3/](http://jsfiddle.net/Cy7ec/3/)).

The conical gradient was looking fine on both iOS & Android but I had quite some issues with the An

[2017-01-08 08:34] bgryszko commented on #41
That's great! In fact this library would need switch over to react-native-svg as well.

Bart

[2017-01-09 22:16] fdnhkj commented on #41
Voilà, I published my findings after upgrading to latest `react-native` and `react-native-svg`  in [fdnhkj/react-native-conical-gradient](https://github.com/fdnhkj/react-native-conical-gradient).

It looks like there are some dropped fps. I don't really see tho how to improve it tho, suggestions are welcome 🙂

Fidan

[2017-01-14 22:28] pmarashian commented on #23
I am having the same issue as sampocs.  In XCode the libART.a file is red and adding it to the Link Binary with Libraries section has no effect.

[2017-01-19 00:36] amsul opened #44 "NSInvalidArgumentException on iOS, React Native 0.40"
After upgrading to RN 0.4.0, I am now getting this error:

[code]

It's been mentioned (and narrowed down to a specific line) over here: https://github.com/oblador/react-native-progress/issues/40#issue-200216423

There's nothing in the Release Notes that stands out either: https://github.com/facebook/react-native/releases/tag/v0.40.0

[2017-01-19 00:52] airman00 commented on #44
So the problem seems to come from react-native-svg

Seems like an NSArray is being passed instead of an NSString somehow

Taking a closer look at it now....

[2017-01-23 09:16] zabojad opened #45 "Circle animation is not linear with performLinearAnimation"
The circle is animated with a slower ease-in and ease-out. Is it something we can change ?

[2017-01-23 09:28] zabojad commented on #45
OK, I've found this:
[code]

It should rather be:

[code]
As the default on iOS is an InOut easing function...

[2017-01-23 09:30] zabojad commented on #45
Or... It could be even better to expose the easing parameter in `performLinearAnimation`...

[2017-01-26 00:43] larryranches opened #46 "Animation progress to move at Clockwise direction?"
Seems like this module is set to move the animation counter clockwise by default. I've already played with the `rotation` prop with no luck. Is there a way or some sort of `direction` prop to set the animation to to rotate clockwise?

thanks!

[2017-01-30 16:51] tedjames opened #47 "Background color cannot be changed from white"
So I can't figure how to make the background transparent. Not sure if this is a bug or something that I'm missing but anytime I render the AnimatedCircularProgress component, a white background appears behind the progress bar:

<img width="373" alt="circprogress" src="https://cloud.githubusercontent.com/assets/13091675/22432263/57ad4504-e6e2-11e6-978d-78a91f6f4dbe.png">

Any suggestions?

[2017-01-30 16:59] fdnhkj commented on #46
Here is the code responsible of drawing the circle : https://github.com/bgryszko/react-native-circular-progress/blob/master/src/CircularProgress.js#L10-L20 .
It uses `Path` object from `art`.
I guess you need to pass that clockwise info there :
https://github.com/sebmarkbage/art/blob/master/core/path.js#L111 .

Let me know if that helps :)

[2017-01-30 17:23] tedjames commented on #47
Nevermind! The backgroundColor property wasn't working when I first tried it but now it works.

Probably caused by hot reloading...

[2017-01-30 17:23] #47 closed

[2017-02-04 14:39] Louis345 opened #48 "Trying to use performLinearAnimation(toValue, duration)"
First, I want to say thank you so much for taking the time for making such an awesome component.

I am trying to build a Pomodoro timer and would like to take advantage of the performLinear Animation prop, but I am having a bit of trouble implementing it. I ls there a simple example you can direct me to?

Thank you in advance.

[2017-02-04 14:48] bgryszko commented on #48
Hey, in most cases you just need to use state for controling fill. Like that:

<AnimatedCircularProgress
  fill={this.state.fill}

[2017-02-04 19:59] Louis345 commented on #48
Thank it works.

[2017-02-04 19:59] #48 closed

[2017-02-21 05:37] ronaldsmartin commented on #23
@sampocs or anyone else still running into this issue:

After linking `libART.a`, I was able to proceed by doing the following
1. In Xcode, use CMD+B to build the project (thus completing the linking process by executing that "Link Binary to Libraries" build phase you just edited)
2. Restart the app by running `react-native run-ios`.

**Hot reloading from the simulator didn't work for me** - I had

[2017-02-24 11:37] e-rasvet opened #51 "ART React/RCTViewManager.h file not found ARTNodeManager.h"
When I run app with virtual iPhone 7 plus, I have no any issue, but when I try to run it with my device Ipad, I get this error:

"ART React/RCTViewManager.h file not found ARTNodeManager.h"

https://yadi.sk/i/NXqsXKe53ENf46

How to fix it?

[2017-02-24 12:19] #51 closed

[2017-02-28 12:18] tezqa opened #52 "Detecting onPress"
Hi,

Possible to detect user interactions on the component?
I need to implement a circular seek bar for an audio player.

Tzqa

[2017-03-04 10:22] bgryszko commented on #41
I'm happy to accept PR if anybody would be able to merge this into main lib.

[2017-03-04 10:23] bgryszko commented on #46
Happy to accept PR if anybody wants to work on that.

[2017-03-06 17:02] Mactub07 opened #53 "linecap doesn't work"
it seems that linecap property doesn't work as well.

for ex:
<AnimatedCircularProgress
                                ref='circularProgress'
                                size={200}
                                width={25}
                                fill={this.state.fill}
                                tintColor="yellow"
                                backgroundColor="#3d5875"

[2017-03-07 10:02] zoharlevin commented on #41
+1

[2017-03-14 09:48] t2krew commented on #41
+1

[2017-03-14 13:13] e-rasvet opened #54 "Progress return to 0 after each new value."
Hello!

CircularProgress return to zero after each new fill value. Could you check why it is happen?

My code:
[code]

[code]

Example here: https://www.youtube.com/watch?v=Am7I257ngZI

[2017-03-14 13:26] e-rasvet commented on #54
I found solution, need to set prefill value:

             <AnimatedCircularProgress
                size={200}
                width={3}
                fill={this.state.fill}
                prefill={this.state.prefill}
                tintColor="#00e0ff"
                backgroundColor="#3d5875">
                {
                  (fill) => (
                    <Text style={styles.points}>

[2017-03-14 13:26] #54 closed

[2017-03-27 16:59] csacanam opened #55 "Indeterminate progress bar"
Is it possible to use it in indeterminate mode?

[2017-03-27 23:27] zerostyle opened #56 "Calling of `[-RCTUIManager setFrame:forView:]` which is deprecated."
In React Native: 0.42.0

[2017-03-28 13:47] manodupont opened #57 "Does this work in non native ?"

[2017-04-04 12:37] Jacse commented on #15
Is there any reason you closed this issue @LongPotato? I would like to hear whether it is possible to have an autoscaling circle.

[2017-04-23 17:53] jperelli commented on #44
Any progress on this?

[2017-04-28 20:14] k15a commented on #57
No it doesn't ;)

[2017-05-03 05:30] farrukhbashir opened #58 "Circular Progress not working when PerformLinerAnimation call"
i use this
AnimatedCircularProgress
  ref='circularProgress'

where i call this line...
this.refs.circularProgress.performLinearAnimation(100, 8000);

i call in render then not work this line. in perform linear operation i do that work

performLinearAnimation(toValue, duration) {
    Animated.timing(this.state.chartFillAnimation, {
       toValue: 100,
       duration: 8000
    }).start()

[2017-05-03 07:44] farrukhbashir commented on #58
@bgryszko @fdnhkj plz help me how i call this ...how this animation run in 8sec

[2017-05-05 04:53] ofirgeller opened #59 "Exception on android sdk 19"
Android sdk 19 on both a real device and on emulator
When using AnimatedCircularProgress with react native 0.43.1

the log shows

/ReactNativeJS(31009): Module AppRegistry is not a registered callable module (calling runApplication)
E/ReactNativeJS(31009): Requiring module "94", which threw an exception.

And then the exception "undefined is not an object (evaluating undefined.hex)" is thrown.

If

[2017-05-25 15:27] jbolter opened #60 "Testing with Jest causes Invariant Violation"
I am trying to use Jest Snapshot testing and am having an issue with this library.  When I try to create a snapshot test with the AnimatedCircularProgress component I run into this warning which causes the snapshot to fail to be created.  I traced it down to the Surface element in the CircularProgress component.  If I remove the Surface and Group elements then the tests will run without the warnin

[2017-05-31 03:33] rodrigooler commented on #41
+1

[2017-06-02 03:44] anchpop opened #61 "[Android] Installing this broke my project"
I ran `npm i --save react-native-circular-progress`  and now `react-native run-android` crashes with this unhelpful error:

![image](https://cloud.githubusercontent.com/assets/3711047/26705148/44e844b6-4702-11e7-98ac-fc187d282853.png)

Note that this is with no change to my code. Deleting node-modules and rerunning npm install does not help, even after removing `react-native-circular-progress` fro

[2017-06-02 04:26] anchpop commented on #61
Also, the react packager opens, but it crashes with this message:

![image](https://cloud.githubusercontent.com/assets/3711047/26710715/1982ba72-472a-11e7-8d5a-6669cc9e765d.png)

[2017-06-02 04:49] anchpop commented on #61
I deleted `android/app/build` and it worked -_-

[2017-06-02 04:49] #61 closed

[2017-06-03 17:05] Mactub07 opened #62 "Is there a way to add to shadow at the end of circular progress component?"

[2017-06-03 17:07] Mactub07 commented on #62
@
![image](https://cloud.githubusercontent.com/assets/13048119/26755560/4422fd7c-4898-11e7-9694-cbc28be08344.jpeg)

[2017-06-03 17:09] Mactub07 commented on #62
Like in green circle. If fill>100% I need to show shadow and gradient

[2017-06-07 15:03] sytolk commented on #53
linecap='round' works for me
[code]

[2017-06-08 06:38] Mactub07 commented on #53
Yes, because module was updated , unfortunally I dont see increase vesion number, for install the latest one we need "npm install react-native-circular-progress@latest" in case if you've have this module yet and want to get the latest version

[2017-06-08 06:55] sytolk commented on #53
Thanks @Mactub07 but I'm just copy the source code of this library in my project (it`s have 2 JavaScript files only). The reason that I`m not using `npm install` is that PR like https://github.com/bgryszko/react-native-circular-progress/pull/50 and https://github.com/bgryszko/react-native-circular-progress/pull/38 is not merged yet :) If you need this functionality you can include it with `npm ins

[2017-06-08 07:16] sytolk commented on #62
Maybe this issue:
https://github.com/bgryszko/react-native-circular-progress/issues/41
and implementation will help you:
https://github.com/fdnhkj/react-native-conical-gradient

[2017-06-11 02:00] himelbrand commented on #59
simillar issue, with react native 0.43.4 and sdk 23

[2017-06-12 14:28] valerybodak commented on #41
@fdnhkj
Have you implemented your conical gradient? Is yes, can you share your code please. Thanks a lot!

[2017-06-14 07:51] andreiciceu opened #63 "Add prop for loading animation"
Hello,

Firstly, congrats for your work.
I think it would be useful to add a `loading` prop that, when set to `true` would cause the circle progress to spin. Like here for example [https://github.com/oblador/react-native-progress](https://github.com/oblador/react-native-progress)
Although this can be obtained by updating the angle of the component periodically, it's not an efficient way of doing i

[2017-06-14 17:10] nielsswinkels opened #64 "Breaks on react-native 0.45.1"
When I update to react-native 0.45.1 the drawing is no longer a circle, only partly (tested on new empty android project). Unfortunately I haven't been able to dive into the issue and look for a more detailed problem description. Downgrading to RN 0.44.1 made it work again.

[2017-06-19 09:59] peacerevolution commented on #64
I think I'm facing similar problems. Is this something you are facing?

iOS

![simulator screen shot jun 19 2560 be 4 57 19 pm](https://user-images.githubusercontent.com/4251613/27280023-aa6dcaf6-5510-11e7-97f9-7d64ad8e493f.png)

Android

![screenshot_1497866242](https://user-images.githubusercontent.com/4251613/27280032-ae6cce2c-5510-11e7-8eac-beab087ac939.png)

[2017-06-19 10:06] andreiciceu opened #65 "Not rendering after lock-unlock"
On the device, when performing a lock (via hard button or after screen being idle for 30+secs) and unlocking, sometimes the progress indicator is not rendered. After navigating back-forth, the progress is shown

[2017-06-19 10:54] laclance commented on #64
![circle](https://user-images.githubusercontent.com/10835285/27281986-76bb56be-54ee-11e7-978c-1db9c365c3aa.jpeg)

[2017-06-19 14:31] flavordaaave commented on #60
I'm also running into an error when using Jest but mine looks a bit different:
[code]
But again the ARTSurfaceView seems to be the problem...

[2017-06-20 01:24] cinder92 opened #66 "is there any way?..."
Hello thanks for your grate plugin! is there any way to do something like this?

![captura de pantalla 2017-06-19 a la s 20 17 27](https://user-images.githubusercontent.com/4725556/27312342-4ae16dc8-552d-11e7-8f58-ddf9be3fb472.png)

regards!

[2017-06-21 08:49] jkomyno commented on #66
You may want to check this repo: https://github.com/bgryszko/react-native-circular-slider

[2017-06-21 14:58] insidelabs commented on #64
We had to fork this to get it working on Android. The Android specific circlePath render appears to no longer be relevant.

https://github.com/insidelabs/react-native-circular-progress/commit/450108f5d6ddf8c0c6db141531388852c787419a
https://github.com/insidelabs/react-native-circular-progress/commit/d21a41e3a035eb65a517ed28f99a5ef96d2f1ee4
https://github.com/insidelabs/react-native-circular-progre

[2017-06-22 06:51] walkerXiong commented on #64
+1 RN version: 0.45.1

[2017-06-28 12:35] dongweb opened #68 "Is there a way to add a gradient to a progress line?"
hi，is there a way to add a gradient to a progress line?

[2017-06-29 13:49] andreiciceu commented on #64
Hi, I've createad a PR solving this issue:
andreiciceu/react-native-circular-progress#86919eb

[2017-06-29 13:49] andreiciceu commented on #64
Hi, I've createad a PR solving this issue:
#86919eb

[2017-07-03 19:33] brianlow commented on #23
Some additional tips:
* when linking in XCode, make sure to select your main target and not the tvOS or test targets
![image](https://user-images.githubusercontent.com/938138/27805798-0910d8d0-5ff4-11e7-8c4f-4eeeb2b53315.png)

* in XCode -> project navigator -> Libraries -> Products -> libART.a was highlighted in reduntil I ran on device (not the simulator) and restarted XCode
![image](https://use

[2017-07-05 15:28] moyer commented on #57
@manodupont If you're asking if you can use this component with create-react-native-app/Expo, then yes you can. If you're asking if you can use this component with React.js, then no.

[2017-07-09 03:18] spacegraym3 commented on #23
@sschengyf Thanks!  Worked.

[2017-07-14 09:36] masterpetit commented on #65
I encounter the same bug but only on Android. The render function is called and everything seems to be fine but the component is not visible. The inspector shows no changes when the component is not visible after lock.

[2017-07-14 09:40] kelvinlawson commented on #65
Yes it is Android only. I ended up using an AppState callback to restart the animation when the app returns to the foreground (I'm using AnimatedCircularProgress).

[2017-07-15 07:33] anny1895 opened #72 "Android looks like this"
![screenshot_2017-07-15-13-00-09-732_host exp exponent](https://user-images.githubusercontent.com/29810666/28237461-d37d01c6-695d-11e7-905b-1247f11f4f15.png)
android having issue like this..on ios it worked like a charm?

Help appreciated 😄

[2017-07-17 06:34] ishizhen commented on #72
My program like this problem happened

[2017-07-17 06:35] ishizhen commented on #72
react native 0.46

[2017-07-17 07:29] ishizhen commented on #72
You can modify the content（CircularProgress.js） as follows
methond:

` circlePath(cx, cy, r, startDegree, endDegree) {

    let p = Path();
      p.path.push(0, cx + r, cy);
      p.path.push(4, cx, cy, r, startDegree * Math.PI / 180, endDegree * Math.PI / 180, 1);

    return p;
  }`
and
` const backgroundPath = this.circlePath(size / 2, size / 2, size / 2 - width / 2, 1, 360);`
replace
` const b

[2017-07-17 07:32] ishizhen commented on #72
You can modify the content（CircularProgress.js） as follows

1.
methond:
`circlePath(cx, cy, r, startDegree, endDegree) {
let p = Path();
  p.path.push(0, cx + r, cy);
  p.path.push(4, cx, cy, r, startDegree * Math.PI / 180, endDegree * Math.PI / 180, 1);

return p;
};`

and

2.

`const backgroundPath = this.circlePath(size / 2, size / 2, size / 2 - width / 2, 1, 360);`

replace
`const backgroundPa

[2017-07-26 21:16] satya164 opened #73 "Wrong import statement"
This line has an import statement from `../../react-native/` - https://github.com/bgryszko/react-native-circular-progress/blob/master/src/CircularProgress.js#L3

It will easily break when the directory hierarchy is not flat, and will also break on [snack](https://snack.expo.io)

[2017-07-28 06:45] vipin14119 commented on #23
@ronaldsmartin thanks , that exactly the issue, i did'nt knew it that you have to build it , after building and restarting the simulator again, problem fixed 💃

[2017-08-02 18:00] douglasjunior commented on #64
Is this repository abandoned?

[2017-08-03 17:08] vagnerSl commented on #68
+1

[2017-08-04 03:14] uglyspoon commented on #72
@ishizhen it works for me ,thx

[2017-08-11 15:44] deadcoder0904 commented on #23
I'm getting the same issue & I followed every single step 5 times & still I get `No component found for view with name "ARTSurfaceView"`

Frustrated now 😂
Can anyone help 🙏
I did what @dionysiusmarquis said & what @ronaldsmartin said but its still giving an error in Xcode

[2017-08-19 14:32] wuwenbin970731 commented on #72
OMG thanks so much!

[2017-08-29 12:14] gamingumar commented on #65
@kelvinlawson can you share how you fixed it?

[2017-08-29 12:39] kelvinlawson commented on #65
@gamingumar, here is my patch: https://gist.github.com/kelvinlawson/01985972c333f4690951daff20b4dabf

[2017-08-29 14:08] gamingumar commented on #65
thanks @kelvinlawson is it safe to use these events? aren't they going to be deprecated?

[2017-08-30 10:23] NeXTs commented on #41
@fdnhkj based on [this research](https://github.com/kdzwinel/progress-bar-animation) the only possible solution to improve FPS is using canvas instead of svg

[2017-09-02 03:07] superandrew213 commented on #72
@bgryszko will you publish a new version to npm any time soon? This issue has already been fixed in master.

[2017-09-02 09:16] milad1367 opened #77 "wrong line in circle and no background color after the circle is empty"
[code]

![photo_2017-09-02_13-31-14](https://user-images.githubusercontent.com/15375991/29994402-fbe742e6-8fe3-11e7-8688-b2239015a2db.jpg)

[2017-09-03 17:18] mealbarracin10 commented on #23
I had a same issue, but restart my application, and it solve this problem

[2017-09-03 23:55] renso3x opened #78 "Animated Handler"
Hi guys,

How do I achieve the track bottom the circular white?

![screen shot 2017-09-04 at 7 49 57 am](https://user-images.githubusercontent.com/16775150/30007639-52a5bc76-9146-11e7-8081-4abc515a74cb.png)

[2017-09-04 07:24] SoundBlaster commented on #77
Is this issue related to https://github.com/bgryszko/react-native-circular-progress/issues/72

[2017-09-04 07:26] SoundBlaster commented on #77
May be solution for this https://github.com/bgryszko/react-native-circular-progress/pull/70

[2017-09-04 07:35] SoundBlaster commented on #64
While npm is not updated you can use
`"react-native-circular-progress": "git+https://github.com/bgryszko/react-native-circular-progress.git",`
in package.json

[2017-09-04 11:52] milad1367 commented on #77
tnx for answer. i use this package because i can not lost time.[react-native-circular-progress](https://github.com/oblador/react-native-progress)

[2017-09-05 05:53] marlti7 opened #79 "Android mobile phone lock screen and then open, cant see progress"

[2017-09-11 04:53] lekenny commented on #60
@flavordaaave   Have you solved this problem?

[2017-09-11 08:59] Mad-hu opened #80 "Android RN 0.48.2"
![qq20170911-164356-hd 1](https://user-images.githubusercontent.com/13977755/30266408-da79155a-9711-11e7-995e-84a4b192b12b.gif)

"react-native-circular-progress": "^0.0.8",
npm version
 0.0.8': '2016-12-23T09:34:56.994Z' },
  homepage: 'https://github.com/bgryszko/react-native-circular-progress

If you have a new version, please update the NPM,thx
![khkk0 4urpre jxs zc36en](https://user-images.git

[2017-09-12 08:10] Mad-hu commented on #80
Manual updates, but there are problems
change prop size bigger

![qq 20170912160647](https://user-images.githubusercontent.com/13977755/30314872-ad7af384-97d4-11e7-9b38-61cd0c4f3dbd.jpg)

![qq 20170912160652](https://user-images.githubusercontent.com/13977755/30314891-b6cbf88e-97d4-11e7-9a68-81c5f6539219.jpg)

![qq 20170912160655](https://user-images.githubusercontent.com/13977755/30314892-b6d858e

[2017-09-14 07:22] renso3x opened #81 "Circular progress with small circule"
How can I add this small thing that is ahead of my circular progress?

<img width="229" alt="screen shot 2017-09-14 at 3 21 19 pm" src="https://user-images.githubusercontent.com/16775150/30416903-76905656-9960-11e7-9354-1255323199ec.png">

[2017-09-20 00:53] renso3x commented on #53
@sytolk hi I have used your library and it's great. But I have a problem with the stroke caps.

![screen shot 2017-09-20 at 8 39 32 am](https://user-images.githubusercontent.com/16775150/30621979-2f17c48c-9de1-11e7-8657-4b7ed9e47437.png)

Can you help how to give a padding inside a surface.?

[2017-09-20 11:18] jhalborg opened #84 "Feature request: colors for different parts of the circle"
Hey,

First of all, thanks for a cool lib! Great work!

I have a client requirement for a cicle like this:
![image](https://user-images.githubusercontent.com/6643672/30641071-fcef0c20-9e05-11e7-91e5-25505922fe11.png)
preferably with an animation that plays when the component shows.

I haven't had the oppotunity to look into the source for this lib yet, but I was thinking if you (or someone reading

[2017-09-22 20:13] chrmcg commented on #72
For those coming here from Google -- until this gets published to npm, you can get the fixed version directly from GitHub by editing your `package.json`:
`"react-native-circular-progress": "bgryszko/react-native-circular-progress#91f15f5a5320c04d645352a629f2478873344f6d"`

[2017-09-23 19:42] alarner commented on #79
I'm also running into this same issue. @marlti7 were you able to fix it somehow?

[2017-09-26 14:15] MrFlox commented on #80
Same problem

[2017-09-26 23:42] ARMATAV opened #85 "PropTypes no longer supported"
Hey, minor error at CircularProgress.js:66 onward.

[2017-09-28 19:26] ssomnoremac commented on #80
@Mad-hu @MrFlox #72 has a solution

[2017-10-04 14:14] ovaris opened #86 "AnimatedCircularProgress is still using React.PropTypes, RN 0.49.0 will not work"
React.PropTypes no longer exists in 0.49.0 ....

See related https://github.com/bgryszko/react-native-circular-progress/issues/85

[2017-10-04 14:43] ovaris commented on #86
It seems that it's already fixed in master but not yet published to npm.

[2017-10-04 18:45] ovaris commented on #86
Another issue came up trying to run in release mode, PR here https://github.com/bgryszko/react-native-circular-progress/pull/87

[2017-10-10 04:05] fabiancarlos opened #88 "No component found for view with name "RNSVGDefs""
hi guys, this is a problem with the react-native-svg?? There is a way to not use they?

![errs_svg](https://user-images.githubusercontent.com/636804/31368887-8ce0af3a-ad4e-11e7-8b3b-27782030ba41.png)

[2017-10-10 09:09] joaosilva05 commented on #60
Having the same issue

[2017-10-17 10:27] MiguelGrenho opened #90 "Cannot read property 'slice' of null while setting background color to 'transparent'"
I'm getting a problem setting the background color to "transparent", although it accepts things like 'red', 'white'.

Does this library supports transparent background color? Has anyone encountered this issue ?

![error](https://user-images.githubusercontent.com/5865757/31659859-65af7ee8-b32d-11e7-88fd-0c73e102d02b.png)

[2017-10-18 20:53] perrosnk commented on #23
I am having the same problem on RN 0.49.3

[2017-10-20 17:12] luco opened #93 "Crashing on Android on RN 0.47.2"
Anyone with this?
Just crashes the app.

I searched for PR, but I didn't find anything.

[2017-10-21 08:11] inspireui commented on #93
yes, crashed on Android "undefined is not an object evaluating '_react2.PropTypes.number'"
RN 0.49.3

[2017-10-23 16:07] luco commented on #93
@inspireui How are you getting this error? I can't even get any error. It just crashes.

[2017-10-25 11:00] Jouddeken commented on #46
@larryranches I don't know if you are still having issues with this, but I fixed it by giving my AnimatedCircularProgress component a style of: `rotateY: '180deg'`.

[2017-11-07 07:37] zarcode commented on #86
please merge this

[2017-11-07 08:27] dantranv commented on #93
Found issue, it was caused by View.propTypes.style on both js files.

AnimatedCircularProgress.propTypes = {
  style: **View.propTypes.style**,
  size: PropTypes.number.isRequired,
  fill: PropTypes.number,
  prefill: PropTypes.number,
  width: PropTypes.number.isRequired,
  tintColor: PropTypes.oneOfType([PropTypes.string, PropTypes.object]),
  backgroundColor: PropTypes.oneOfType([PropTypes.stri

[2017-11-07 08:38] dantranv commented on #93
You need to replace '**View.propTypes.style**' with '**ViewPropTypes.style**', also remember to include ViewPropTypes: import { ViewPropTypes } from 'react-native';

Tested on RN 0.49

[2017-11-07 09:15] EnriqueDev opened #97 "Update npm package"
Hi,
I've seen that someone changed React.PropTypes to the prop-types pacakge but you forgot to update the npm package. Could you please update it?

Thank you! And awesome component!

[2017-11-07 11:40] bartgryszko opened #98 "Become a maintainer of this package"
I'd be happy accept help maintaining this package & give write rights to people that would like to help fixing recent bugs / updating package to the newest react / native version, reviewing and merging PRs etc.

[2017-11-09 10:21] ananyachandra14 commented on #46
@Jouddeken Thanks! Although `rotateX: '180deg'` worked for me.

[2017-11-09 10:23] ananyachandra14 commented on #46
Hey @Jouddeken , this isn't working. Anything apart from this that you also added?

[2017-11-09 10:37] ananyachandra14 commented on #46
Worked with `scaleY: -1`. Although it inverts the entire view along with the Views/Text inside `fill`. Would be great if it can be passed to `CircularProgress` alone.

[2017-11-16 07:46] barend4i opened #100 "undefined.hex"
doesnt work, just gives undefined.hex when trying to use animated version of progressbar

[2017-11-18 18:45] #77 closed

[2017-11-20 11:26] markusl commented on #57
As @moyer said. Closing the issue now.

[2017-11-20 11:26] #57 closed

[2017-11-20 11:27] markusl commented on #56
@zerostyle is this problem still happening with latest version?

[2017-11-20 11:27] markusl commented on #59
@himelbrand @ofirgeller is this problem still happening with latest version?

[2017-11-20 12:39] markusl commented on #97
This is now fixed!

[2017-11-20 12:39] #97 closed

[2017-11-20 12:40] markusl commented on #93
This is now fixed!

[2017-11-20 12:40] #93 closed

[2017-11-20 12:40] markusl commented on #86
This is now fixed!

[2017-11-20 12:40] #86 closed

[2017-11-20 13:05] markusl commented on #100
@barend4i can you give some more information about the issue?

[2017-11-20 13:06] markusl commented on #85
This is now fixed in the npm package.

[2017-11-20 13:06] #85 closed

[2017-11-20 13:07] markusl commented on #53
Hi @Mactub07 ! Is this still a problem with the latest version?

[2017-11-20 13:07] markusl commented on #73
Fixed in master.

[2017-11-20 13:07] #73 closed

[2017-11-20 13:08] markusl commented on #44
@amsul @airman00 @jperelli is this still happening with latest version?

[2017-11-20 13:08] #44 closed

[2017-11-20 14:22] Jacse commented on #98
It looks like you've already found some helping hands but if not I would be glad to help out.

[2017-11-20 14:50] #66 closed

[2017-11-20 14:52] markusl commented on #79
Closing as a duplicate

[2017-11-20 14:52] #79 closed

[2017-11-20 16:51] markusl commented on #88
Do you have any more details on this?

[2017-11-20 16:53] markusl commented on #80
Closing as duplicate

[2017-11-20 16:53] #80 closed

[2017-11-20 16:54] markusl commented on #72
I believe this is now fixes since https://github.com/bgryszko/react-native-circular-progress/pull/70 is closed

[2017-11-20 16:54] #72 closed

[2017-11-20 16:55] markusl commented on #64
It seems that the issue is solved in latest version.

[2017-11-20 16:55] #64 closed

[2017-11-20 17:22] bgryszko commented on #98
Hi @Jacse, I did, big thanks to @markusl! I believe we'll still appreciate help. Let's just `assign yourself` any issue / PR that you'd be handling to avoid doubling the work.

Thanks!

[2017-11-20 18:05] Jacse commented on #68
I'm afraid it isn't really feasible with the current implementation since SVG does not support conical gradients. The only way to simulate this, that I know of, is to divide the circle into smaller segments each with a different linear gradient.

If you really want this I suggest you take a look at [this](https://stackoverflow.com/questions/18206361/svg-multiple-color-on-circle-stroke) SO question

[2017-11-20 18:07] Jacse commented on #65
#95 fixes this. Let's hope we can get it merged soon and keep discussion over there for now.

[2017-11-20 18:07] #65 closed

[2017-11-20 18:47] Jacse commented on #68
Duplicate of #41. It seems doing what I mentioned does result in FPS dropping, so stille a little reluctant to implement.

[2017-11-20 18:47] #68 closed

[2017-11-20 19:02] fabiancarlos commented on #88
i'm not using this component for a now, i will see later. So, i will close it for now.

[2017-11-20 19:02] #88 closed

[2017-11-20 19:31] zerostyle commented on #56
I have not used this in a long time. I'm not sure.

[2017-11-20 20:02] amsul commented on #44
@markusl nah.. seems like one of the react-native-svg releases fixed it.

[2017-11-21 07:52] markusl commented on #55
@csacanam can you explain what you mean by this?

[2017-11-21 08:30] Mactub07 commented on #53
actually I dont know how it works with the latest version, at least it works for me when I use "react-native-circular-progress": "0.0.8",

[2017-11-21 12:31] markusl commented on #45
Fixed in master.

[2017-11-21 12:31] #45 closed

[2017-11-22 13:15] #56 closed

[2017-11-22 13:15] markusl commented on #59
Please reopen if the issue still persists.

[2017-11-22 13:15] #59 closed

[2017-11-23 13:24] mkpietrzyk opened #102 "Reset progressbar without 'return' animation?"
Hello!

I would like to ask if there is any possibility to reset the progressbar without the returning animation?

My desire solution is:
-----------xxxxxxxx (60%) -> xxxxxxxxxxxxxxxxxx ( 0% ) (no animation, pure reset)
Current default solution using the lib is:
-----------xxxxxxxx (60%) -> -------xxxxxxxxxxxx (40% ) -> -----xxxxxxxxxxxxxx (20% )
etc... (it goes back quickly... but it's annoying u

[2017-11-23 23:24] luco commented on #93
@markusl Thanks a lot!

[2017-11-26 21:21] marines commented on #55
This: http://www.material-ui.com/#/components/circular-progress

[2017-11-30 14:53] bgryszko commented on #102
For your case it's annoying, for others it might be desired :)

You could create your own animation component that wraps CircularProgress based on https://github.com/bgryszko/react-native-circular-progress/blob/master/src/AnimatedCircularProgress.js & make use of `componentDidUpdate` (https://github.com/bgryszko/react-native-circular-progress/blob/master/src/AnimatedCircularProgress.js#L20) where

[2017-11-30 14:53] #102 closed

[2017-11-30 15:02] mkpietrzyk commented on #102
Thanks! Sorry mate, did not want to sound rude of course! :)

[2017-11-30 18:43] dahudson88 opened #103 "AnimatedCircularProgress children(fill) TypeError"
I am getting the following error when the AnimatedCircularProgress is being rendered...

Debug Mode: ![simulator screen shot - iphone 8 - 2017-11-30 at 13 41 04](https://user-images.githubusercontent.com/31221472/33448466-1fa62ce8-d5d4-11e7-933b-5c047e78d7cc.png)

Release Mode: TypeError: f is not a function. (In 'f(k)', 'f' is an instance of Object)

Initially I was getting the errors defined [ht

[2017-12-12 12:24] ShaikhKabeer commented on #37
Hi @bgryszko , Here I have attached screenshot .

![half doughnut](https://user-images.githubusercontent.com/29751540/33884360-5ca8232c-df65-11e7-92f6-83cf01872943.png)

Here is my code

import { AnimatedGaugeProgress, GaugeProgress } from 'react-native-simple-gauge';
import React,{Component} from 'react';
import {View} from 'react-native';

export default class App extends React.Component{
  rend

[2017-12-23 12:41] auven commented on #81
You can modify the source code.

Reference： #38  Added strokeCap, capWidth and capColor option

### CircularProgress.js

[code]

### Usage

- `circleRadian`  The radian of Circular progress
- `capColor` The color of small circle
- `capWidth` The width of small circle

[code]

![2017-12-23 8 38 22](https://user-images.githubusercontent.com/23731087/34319595-46971024-e821-11e7-894a-1350a77117c4.png)

[2017-12-23 19:45] benevbright opened #104 "Crash only Android Emulator."
Hi, guys.

It works great on Android real devices.
But don't you guys face the crashes on Android emulator?

React-Native version : 0.51.0
plugin version : 0.1.0
Tested Emulator: API 23 Pixel / API 23 Nexus 10
It crashes without any error or red screen.

I tested example app in this repo. It gives the same result.

Thanks.

[2017-12-27 10:58] teddyteh commented on #81
<img width="260" alt="screen shot 2017-12-27 at 9 57 09 pm" src="https://user-images.githubusercontent.com/8596757/34379747-f547ffe8-eb50-11e7-8da5-f3e40f67b498.png">
Text doesn't stay inside the circle when using this

[2017-12-27 14:30] markusl commented on #104
Hi! Could you include more information about the issue. I tried with one Android emulator and the latest version worked just fine. What do you mean by "crashing" in this case?

[2017-12-27 14:30] #100 closed

[2017-12-27 14:32] markusl commented on #40
As described in Stack Overflow answer:

[2017-12-27 14:32] #40 closed

[2017-12-27 15:08] benevbright commented on #104
Hm.. i “crashed” without any log or red screen. I put this circular progresses on the Flatlist items.

[2017-12-27 19:39] markusl commented on #63
Hi @andreiciceu ! Is this request still needed with the latest version?

Best Regards,
Markus

[2017-12-27 19:47] Jacse commented on #103
In your code the children of `AnimatedCircularProgress` is a component (Text-component). It should be a *function* that returns a component instead. E.g:

[code]

It doesn't make a lot of sense to use the children-prop in this way, and that is something I hope to adress soon (moving the function to a prop).

[2017-12-29 09:18] #90 closed

[2017-12-29 09:19] Jacse commented on #90
It supports a transparent background now 👍

[2018-01-03 17:34] dnwilson opened #106 "Progress circle does not displayed after recovering from lock on android"
I implemented a countdown clock which displays day, hours, mins, and seconds. However, if lock my screen and unlock it only the progress circle for seconds is displayed until the value for mins has changed then that one will update as well. Not sure how to resolve.

[2018-01-03 19:19] Jacse commented on #106
Could you post reprodusible code?

[2018-01-03 20:52] dnwilson commented on #106
seems like this is a know issue which #95 was supposed to fix

[2018-01-03 21:04] Jacse commented on #106
@dnwilson Indeed, but that doesn't explain the sequential updating that you are experiencing.

[2018-01-03 21:26] dnwilson commented on #106
@Jacse see below

[code]

[2018-01-04 15:29] kurtsergey commented on #104
I think I have same issue.
Sometimes app just closes, but I see in logcat the same problem.

![screenshot_1515079571](https://user-images.githubusercontent.com/4003705/34570482-fb5f2082-f17c-11e7-926d-56d69f6c774b.png)

01-04 18:28:08.560  6243  7295 E unknown:ReactNative: Exception in native call
01-04 18:28:08.560  6243  7295 E unknown:ReactNative: com.facebook.react.bridge.JSApplicationIllegalA

[2018-01-04 16:26] andonivianez opened #107 "Android looks different than iOS"
Hi!

First, thank you very much for this module, it´s amazing!
I´ve a problem, that makes looking different the same code on Android and iOS...
Android:
![whatsapp image 2018-01-04 at 15 46 16](https://user-images.githubusercontent.com/17659005/34573305-186353c8-f174-11e7-95e1-d9f8d97f2e42.jpeg)

iOS:
![img_20180104_171915_hdr](https://user-images.githubusercontent.com/17659005/34573321-2444cb90-f

[2018-01-05 12:37] andreiciceu commented on #63
Hi @markusl !
Nope, it's not needed anymore. I achieved that using ActivityIndicator.

Best regards,
Andrei

[2018-01-08 09:44] ckruppe commented on #46
I have an fix for that. Would make a PR if someone grants me access :)

[2018-01-08 14:59] robertobrogi commented on #84
have you find the solution for this?

[2018-01-09 02:31] JeckChou opened #110 "background is rectangle"
background of `AnimatedCircularProgress` is rectangle ? can it style to circle ? I want to fill background with color , but it is rectangle and I just want a circle background

can you help me ? what can i do with this
thanks

[2018-01-09 10:55] jhalborg commented on #84
Nope, not yet

[2018-01-12 09:22] ShaikhKabeer opened #111 "How to draw a line inside circular progress"
How can I achieve like this as given in below chart image

![33873112-b2efb50e-df3f-11e7-8c6d-d8c600bdd98f](https://user-images.githubusercontent.com/29751540/34867979-3bf1a922-f7a8-11e7-8b33-6bcdc3f44aa6.png)

[2018-01-13 17:58] dancherb commented on #104
Same problem here - wouldn't have realised it still worked on my actual device if not for this thread

[2018-01-13 21:00] dancherb commented on #110
try setting the borderRadius in style to be equal to the size prop, this works for me. so something like:

[code]

[2018-01-15 23:52] ckruppe commented on #106
I had also some issue with this behavior.
Problem seems to be that the circles do not redraw. (In my case it was the background circle if the progress is 0%)

Fixed it with AppState in CircularProgress.js. I change the circle width on AppState change and change it back directly after.

[2018-01-15 23:55] ckruppe commented on #46
Got it fixed and also configurable :)

[2018-01-17 17:31] Culzean opened #112 "Warning when fill is given from Animated.timing"
I get this warning,
Failed prop type, Invalid prop 'fill'of type 'object' supplied to 'AnimatedCircularProgress', expected 'number'.

This is the call to Animated.timing:

[code]

And how the value is assigned.

[code]

However this gives the result as desired. The warning is distracted through. Any ideas how to sort this? I understand that .interpolate() returns an object and hides the value. Thi

[2018-01-22 18:53] tolik85 commented on #81
@teddyteh Use the original chunk of CircularProgress.js after the Surface closing tag:
[code]
Also, add in render function the offset variable declaration:
`const offset = size - (width * 2);`

[2018-01-22 21:32] dnwilson commented on #106
Still having this issue.

[2018-01-29 19:43] lefoy commented on #90
@Jacse can you please publish a new version with this fix? The latest NPM package doesn't include this fix. Thank you 👍

[2018-01-29 19:48] lefoy commented on #90
Looking at other issues it seems that @markusl is doing the npm versions. If you have time to publish a new version for this fix it would be much appreciated. Thank you 👍

[2018-01-30 07:54] ljunb opened #113 "Support `stopAnimation` like Animated?"
Thx for this component!

As the follow code shows, I can start animation at anytime when I want, and I also need to stop the animation in some cases:
[code]
So, do you have a plan to support stop animation just like call `stopAnimation`?

[2018-01-30 08:33] ljunb commented on #113
I find out a way to solve this problem😆:

[code]

[2018-01-30 08:33] #113 closed

[2018-01-30 11:18] Culzean commented on #112
I edited the typescript types for this property to remove the warning.

[2018-02-01 21:01] dancherb commented on #110
@Nasirilahi Could you attach the code you have for the component or a screenshot? + are you testing on android or ios?

On 1 Feb 2018 17:33, Nasir Husain <notifications@github.com> wrote:

@dancherb<https://github.com/dancherb> i tried your way but it didn't work for me?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/bgryszk

[2018-02-02 09:26] ShaikhKabeer commented on #58
Any solution on this  @farrukhbashir

[2018-02-02 09:31] ShaikhKabeer commented on #42
Any sample code is there for running without animation?

[2018-02-07 15:06] pvanosch opened #114 "children is not a function"

[2018-02-07 15:07] #114 closed

[2018-02-09 20:02] HowlAlert commented on #58
Yes please anyone know how to do this

[2018-02-14 08:14] uppercase-army commented on #41
+1

[2018-02-19 08:29] lokiiarora opened #115 "Way to provide extra props to help render the children?"
I wanted an option to provide extra Props to render extra props to animated circular progress bar to help render custom text in the center of the bar..!

[2018-02-19 09:22] Jacse commented on #110
Since the merging of #83 the background should be circular by default. If somebody is able to validate that would be great.

[2018-02-19 09:24] Jacse commented on #107
Hi @andonivianez

Apologies for the late reply. Are you using the latest version?

[2018-02-19 09:28] Jacse commented on #53
Closing since this appears to be fixed. Please re-open if that is not the case.

[2018-02-19 09:28] #53 closed

[2018-02-19 09:45] andonivianez commented on #107
Hi Jacse!

Don´t worry! Thank you for your reply ;)
Yes, I am. I downloaded the latest version from master branch, has been released another one?
Thanks!

[2018-02-19 14:41] lokiiarora commented on #115
![screen shot 2018-02-19 at 8 10 34 pm](https://user-images.githubusercontent.com/20043762/36383057-009fd57a-15b1-11e8-9bef-876253012de6.png)
something like this?
I have edited the source to compensate for that, should I open a PR?

[2018-02-19 16:00] Jacse commented on #115
I'm not sure I see why extra props would be necessary. Wouldn't you be able to just use the value inside the function like so?

[code]

[2018-02-19 16:36] lokiiarora commented on #115
Nope I tried it without the extra props edit, it didn't work..!

[2018-02-23 19:13] schlaegerz commented on #107
I am having the same issue on the latest version. iOS is fine and then Android just cuts off anything I put inside of it

[2018-02-26 09:23] deejaygeroso opened #116 "Linting error AnimatedCircularProgress not found in 'react-native-circular-progress'"
`import {  AnimatedCircularProgress } from 'react-native-circular-progress';`
gives me an error when I run linting on my machine.
`error AnimatedCircularProgress not found in 'react-native-circular-progress'`

**Versions:**
"react-native-circular-progress": "^0.1.2",
"react": "16.0.0",
"react-native": "0.51.0",
lint: version 26.0.2

**My .eslintrc rules:**
[code]

[2018-02-26 11:49] jalal246 commented on #112
@Culzean i have the same issue as well

[2018-03-01 23:48] JakeRawr commented on #72
Hi, all

Any chance this bug is back with v0.1.2?
I'm on the latest version, and my circular progress looks like what @anny1895 posted, on android only

[2018-03-02 00:05] JakeRawr opened #117 "Weird Circular Drawing on Android only"
<img width="249" alt="screen shot 2018-03-01 at 4 01 58 pm" src="https://user-images.githubusercontent.com/7199499/36876501-2be16d1e-1d6a-11e8-9749-1332f90f1532.png">

Updated React Native from 0.41 to 0.52
and updated react-native-circular-progress from 0.0.8 to 0.1.2

then react-native-circular-progress on android started to draw weird AND when there's animation, it's going counterclockwise.

iO

[2018-03-02 10:26] Jacse commented on #117
Would it be possible for you to post some code? I can't seem to reproduce this in the example.

[2018-03-02 10:34] Jacse commented on #107
I can't seem to reproduce this. What version of Android are you running? What device?

[2018-03-02 10:34] Jacse commented on #117
Actually, please post your code in #107. It's the same issue.

[2018-03-02 10:34] #117 closed

[2018-03-02 10:35] Jacse commented on #110
Closing for inactivity. Please re-open if this issue is not resolved.

[2018-03-02 10:35] #110 closed

[2018-03-02 10:35] #103 closed

[2018-03-02 10:37] Jacse commented on #115
Would it be possible for you to post minimal testable code here or supply a repo? That would make it much easier.

[2018-03-02 10:54] Jacse commented on #106
So this is apparently an issue with RN ART (see issue [#17565](https://github.com/facebook/react-native/issues/17565)). I'm looking into what hacky fixes could mitigate this.

[2018-03-02 11:08] #106 closed

[2018-03-02 11:10] Jacse commented on #78
I'm not exactly sure what you mean. If this is still an issue could you clarify? Otherwise I'll be closing.

[2018-03-02 11:11] Jacse commented on #58
Sorry for the late response, guys. Could someone post complete reproducible code? If you look in the example `performLinearAnimation` is used successfully.

[2018-03-02 11:12] Jacse commented on #106
Will publish to NPM within this week. If you could install from master and verify the fix works that would be great.

[2018-03-02 18:21] JakeRawr commented on #107
Hi @Jacse,

Thanks for your response, this is my code for circular progress.
[code]
Running on Android 7.0 Nexus 6P, but seems like it's happening on other phones as well such as Google Pixel XL (8.0)

It could be the setting from build gradle, this is what I have (ones I think might matter)
[code]

[2018-03-03 14:26] Jacse commented on #107
@andonivianez what happens if you run the example code?

[2018-03-03 14:56] Jacse commented on #107
I'm sorry @JakeRawr but I'm simply not able to reproduce. I feel like I've tried everything. Do you have a minimal repo or something?

[2018-03-05 08:44] ShaikhKabeer commented on #111
Guys, any solution to this ?

[2018-03-05 08:52] Jacse commented on #111
That is not currently possible with this library. Unless there is suddenly a lot of people requesting this feature I unfortunately don't think we'll be adding it.

[2018-03-05 16:06] andonivianez commented on #107
@Jacse it happens the same thing... ^^'

[2018-03-08 01:10] jLynx opened #118 "Possible to change animation FPS?"
Is it possible to change the animation FPS to something a little smoother like 60FPS?

Great project by the way!

[2018-03-08 01:46] jLynx opened #119 "Poor Android performance"
I have tired this on both iOS and Android. On iOS it seems to run super smoothly at about 60fps but when I run the same project on android it seems to be really gittery running around 25-30fps.

Is this a known issue, or is there a fix for it?

[2018-03-09 08:37] Jacse commented on #119
It is not a know issue, no. Do you perform any logging on Android? That severly limits performance. Also you could try running a production build and see if the performance issue persists.

[2018-03-09 08:40] Jacse commented on #118
This library uses react native's [Animated](https://facebook.github.io/react-native/docs/animated.html) which does all the animation. It is not possible to change the FPS, but it should be pretty smooth around the ≈60.

[2018-03-09 14:58] kayson opened #121 "Multiple progressbars"
I am using the circular progress bar in every component of a listview. Resulting in sometimes up to 90 unique progress bars. This result in very slow app performance and lagging behaviors. Is this a known issue and is there any way to solve this?

This is an example of how I use it:
`<AnimatedCircularProgress
  size={42}
  width={4.5}
  fill={fill}
  rotation={0}
  linecap='round'
  tintColor={bgC

[2018-03-09 23:33] MingweiSamuel opened #122 "Update NPM version"
live version is out of date, please update (per #90)

[2018-03-10 08:35] Jacse commented on #90
@lefoy so sorry I completely threw this out of my head. I've release v2.0.0 now.

[2018-03-10 09:42] MingweiSamuel commented on #122
<3 Perfect

[2018-03-11 23:42] jLynx commented on #118
In that case, this relates to #119

[2018-03-11 23:42] #118 closed

[2018-03-11 23:55] jLynx opened #123 "Loses progress on loss of focus"
On iOS if you are to swipe down from the notification center and swipe back up so you can see your app you will notice that the progress gets reset.

On Android if you press the home button and then open the app again it will also reset the progress.

This seems like a bug to do with loss of focus. Is there currently a fix for this?

[2018-03-12 00:01] jLynx commented on #119
I am not preforming any logging, but I will build the APK and test that out and get back to you

[2018-03-12 01:28] jLynx commented on #119
I tried the performanc on the build APKe, its like 10x better, but just not as buttery smooth as iOS. Still a bit jittery

[2018-03-12 10:15] ChelseaDan opened #124 "Animation starts on render rather than when button is pressed"
I'm trying to emulate the SnapChat feature of showing a red circle around the capture button when recording, but with the current way I'm doing it, the animation starts as soon as the component is rendered and then `onAnimationComplete` is logged, after that it's not possible to use `this.refs.circularProgress.performLinearAnimation(100, 2000);`.

The relevant code is here below, maybe I'm doing s

[2018-03-14 05:34] Jacse commented on #124
What I think you're doing here is setting `fill` to 100 on mount. You probably want to set `fill` to be zero initially and then start the animation with `performLinearAnimation`

[2018-03-14 13:35] Jacse opened #127 "Version 1.0.0"
I've been considering introducing some breaking changes and moving the library to version 1.0.0.

Breaking changes:
1. - [x] Ability to specify easing in animation (#125)
2. - [ ] ~~Remove children prop, move to `renderChild`-prop (doesn't make sense to pass a function as a child)~~
3. - [x] Only render background circle when a `backgroundColor`-prop has been passed ([reason](https://github.com/bg

[2018-03-14 13:37] Jacse commented on #119
It seems performance could be improved. I'm closing this issue to keep discussion on performance on #121 .

[2018-03-14 13:37] #119 closed

[2018-03-14 13:38] Jacse commented on #121
It seems we have some performance issues and we'll need to look into how performance could be improved. I've created #127 to track progress towards version 2.0.0 and one of the things I would like to do is compare the current ART-based approach to one based on `react-native-svg` and see if performance could be improved that way.

[2018-03-15 06:39] ShaikhKabeer commented on #111
@Jacse , can you please suggest how can I do it ?

[2018-03-15 06:56] Jacse commented on #111
As I said before, @ShaikhKabeer, it is not currently possible. The only way to achieve this would be to modify the library.

[2018-03-16 01:22] lenninlc commented on #106
@Jacse It worked! thanks!!

[2018-03-16 11:00] chawax commented on #107
Same thing for me : backgroundColor property doesn't work. Tested on Samsung Galaxy S5 (Android 6.0.1) and Honor 6C (Android 6.0).

[2018-03-16 11:15] Jacse commented on #107
@chawax I don't thinks that is the same issue. Could you please open a new one with versions and  example code?

[2018-03-19 07:09] ChelseaDan commented on #124
Hi Jacse, thanks for the response. I'll give it a go and let you know whether it helped. Thanks again.

[2018-03-20 22:57] iDuuck commented on #90
Still getting the error on v0.2.0...

[2018-03-22 23:33] ajaxmac commented on #60
Add this to your test file to mock:
`jest.mock("react-native-circular-progress", () => 'CircularProgress');`

[2018-03-23 06:01] markusl commented on #60
If there's something to fix on the library side PR's are always welcome :)

[2018-03-23 06:03] markusl commented on #127
Sounds good to me! Existing users can stay at the current version if they don't want to upgrade. I think quite many of those points are indeed good to implement

[2018-03-23 06:04] #63 closed

[2018-04-02 10:52] hanpei commented on #104
i found the same issue here: https://github.com/facebook/react-native/issues/17937

[2018-04-02 15:54] Jacse commented on #127
I've pushed a few commits which cross off some of the items on the list - none have been tested yet. I added the 5th point about merging the two props `onAnimationComplete` and `onLinearAnimationComplete` (the first firing after automatic initial animation and the latter firing after a manual animation). What are your thoughts on that, @markusl?

[2018-04-07 09:26] CoodeZhang commented on #104
I have same issue.
![krp fs28dqq6 i92 fahek](https://user-images.githubusercontent.com/13991223/38453450-820f39b0-3a88-11e8-9ca5-54dec45658ae.png)

[code]
when I set the useNativeDriver,It crashed.

[2018-04-07 22:40] vzaffalon commented on #123
same problem here please helpp

[2018-04-09 05:12] n8-sd commented on #107
I too am having this issue.

Nexus 6p (8.1.0)

[2018-04-10 02:38] vzaffalon commented on #123
just change performLinearAnimation to performTimingAnimation and the problem was fixed

[2018-04-12 09:28] OculusMode opened #128 "performLinearAnimation not working after coming from background"
hey. Im trying to start performLinearAnimation when app comes in foreground from background using AppState of react native. But its not working. It works correctly when using by calling from a button. Please check

Code:
[code]

[2018-04-17 10:05] OculusMode commented on #128
Is this library still being managed?

[2018-04-29 10:58] xe4me commented on #23
https://stackoverflow.com/questions/37658957/no-component-found-for-view-with-name-artshape
helped me

[2018-05-29 09:30] r4doshka opened #129 "lineCap prop not working"
lineCap property not working for any values

[2018-05-29 09:36] r4doshka commented on #129
solve the problem, just wrote linecap

[2018-05-29 11:54] #129 closed

[2018-06-12 16:55] koolkarni opened #130 "How to add Image(icon) in between the circle ?"

[2018-06-12 17:21] koolkarni commented on #130
Solved it by following

<AnimatedCircularProgress
        size={200}
        width={8}
        fill={100}
        tintColor="#00e0ff"
        backgroundColor="#3d5875">
        {
          (fill) => (
            <Image
             source={require('../../images/kool.png')}
           />
          )
        }
      </AnimatedCircularProgress>

[2018-06-19 00:41] koolkarni commented on #84
can we do this ?

[2018-06-19 07:00] #130 closed

[2018-06-19 07:04] Jacse commented on #124
@ChelseaDan did it work?

[2018-06-19 07:04] Jacse commented on #123
Do you still experience this @jLynx?

[2018-06-19 07:06] Jacse commented on #116
This doesn't seem like an issue with the library but rather your linting setup. To ignore the wrong error, you could use `// eslint-disable-line` or something similar.

[2018-06-19 07:06] #116 closed

[2018-06-19 07:08] Jacse commented on #115
I'm closing this for inactivity. Feel free to reopen.

[2018-06-19 07:08] #115 closed

[2018-06-19 07:22] #78 closed

[2018-06-19 07:55] Jacse commented on #58
Closing for inactivity. Feel free to reopen if necessary.

[2018-06-19 07:55] #58 closed

[2018-06-19 16:53] JulianKingman commented on #127
I took care of item 6 for you :)
https://github.com/bgryszko/react-native-circular-progress/pull/132

[2018-06-19 22:31] yeomann commented on #23
Please please please be make sure that when draging libArt.a make sure the target is your project.

<img width="1007" alt="screen shot 2018-06-20 at 01 30 06" src="https://user-images.githubusercontent.com/5970751/41627583-83ea564a-7429-11e8-9ca6-3cd7da169320.png">

[2018-06-19 22:59] koolkarni opened #133 "can we make the circle with stripe or alternative color ,as below ?"
![screen shot 2018-06-18 at 5 54 45 pm](https://user-images.githubusercontent.com/16875126/41628522-c773973c-73d9-11e8-8cc4-2dbca8af99ff.png)

[2018-06-22 07:34] Jacse commented on #127
I'm considering scratching item 2 and continue using functions-as-child-components after reading blog posts like [this one](https://medium.com/merrickchristensen/function-as-child-components-5f3920a9ace9). Any thoughts? If not, I'll revert my changes to the `renderChild`-prop.

[2018-06-22 09:47] yeomann commented on #133
nice one but would be interesting to see the implementation. maybe I would try if I get some free time

[2018-06-22 13:56] Jacse commented on #124
Closing. Let me know if it didn't work.

[2018-06-22 13:56] #124 closed

[2018-06-22 20:29] yeomann opened #134 "On press event on circle"
Hi,

is there any onpress props on the circle? There should be I believe! I have tried wrapping this way.

`<TouchableWithoutFeedback onPress={this.onPressGraphics}>
					<View style={styles}>
						<AnimatedCircularProgress
							ref="graphicsProgress"
							size={170}
							width={3}`

but it seems buggy, on emulator (IOS and android) event is firing all good but on real device of android whe

[2018-06-24 14:51] yeomann commented on #134
I would be interested to know the answer why there's isn't do you mind if I create a PR for that?
I solved my above mentioned problem but I am wondering why there's isn't OnPress event for circle

[2018-06-25 13:04] Jacse commented on #134
@yeomann do you mind sharing how you solved your problem in case somebody comes along experiencing the same? There is no `onPress` event exactly because people can wrap the component themselves if they so please.

[2018-06-25 13:23] yeomann commented on #134
let me get my example in few minutes @Jacse but why don't didn't we consider this feature yet? :)

[2018-06-25 14:52] Jacse commented on #127
I've pushed some updates and it looks like we've made the list. For simplicity, I've removed the sping-based animation and migrated to a timing-based one. I'm unsure if we should have sticked with two different animations... @markusl @JulianKingman let me know what you think. If you could test it out that'd be great as well.

[2018-06-27 16:04] jamesqo opened #135 ""PropTypes.isRequired" not working?"
Hi, I'm a first-time user of your library and when I tried pasting this code in my app

[code]

I got this error:

![screenshot_20180626-203128](https://user-images.githubusercontent.com/9159214/41985664-f31743c4-7a01-11e8-9e46-3eefc5a3e683.png)

I spent a couple of hours scratching my head about this. I thought it must be a runtime bug and was about to report it when I finally realized that it wa

[2018-06-27 16:36] jamesqo opened #136 "npm package has not been updated in 4 months"
Hi, the information in the README does not match up with the latest published version of the package. The latest version on npm is [4 months old](https://www.npmjs.com/package/react-native-circular-progress) and there have been several changes to the API since then.

[2018-06-27 16:55] jamesqo commented on #136
Still worse, I'm unable to get the latest version of the package from GitHub. Trying

[code]

just gets me the 0.2.0 version of the package.

[2018-06-27 20:00] jamesqo opened #137 "Request: Add option to disable animation on load"
This component performs its animation right away in `componentDidMount()`, but I want to delay that for a few ms when my screen loads. It would be nice to add a prop like

[code]

to allow me to disable this behavior.

[2018-06-27 20:05] jamesqo opened #138 "Request: Add method that returns animation object, allowing it to be combined with other animations"
Like this:

[code]

Then I would be able to do `Animated.parallel([ this.circularProgress.animation(...), /* my other animations */ ])`, etc.

[2018-06-27 20:08] jamesqo commented on #137
Another option (not necessarily incompatible with this) would be to add a `delay` parameter.

[2018-06-28 10:13] Jacse commented on #137
What I suggest you do is simply set `fill={0}` and update the prop when you want the animation to start.

[2018-06-28 10:15] Jacse commented on #138
Good point, I'll add this 👍

[2018-06-28 10:15] #138 closed

[2018-06-29 00:39] jamesqo commented on #137
@Jacse If the animation takes, say, 2sec by default then would this disable animations for the first 2 sec because it's busy doing an animation from 0 to 0? Or would React Native detect that the start and end values are the same and not bother with an animation?

[2018-06-29 13:00] footygoodman commented on #113
thks

[2018-06-29 14:52] Ahagan opened #139 "Props don't get applied"
VERSION: 0.2.0
React Native: 0.55.x

When trying to apply the following props, they make no effect:

-rotation. If I set it to 0, I would expect the animation to start from the top, not at the 90def default value.
-- I have add to add a custom style to rotate

- lineCap. If I set it to 'round', the change doesn't appear.

Example code:
`
    render() {
        return ( <AnimatedCircularProgress

[2018-06-29 19:50] maxfadeev opened #140 "Last changes don't exist in 2.0"
Hello!
Could you take a look and tag it, please ? Thanks!

[2018-06-30 18:35] maxfadeev commented on #140
So in the following example a duration doesn't work
`javascript
<AnimatedCircularProgress
    size={30}
   width={10}
   fill={100}
   duration={10000}
   tintColor="#00ff00"
/>
`

[2018-07-01 07:57] maxfadeev commented on #140
Yes you are right. I looked at the last version on github at first, and couldn't understand why the duration prop wasn't working :) Now I see it differs from the npm version.

[2018-07-03 08:40] kyhnlbyrk opened #141 "Gradient color in the bar"
Hi, guys

This is not an issue but a question.. Can I add gradient to the bar? If so how? I want to make the circle start with blue and finish with orange

[2018-07-04 07:17] kyhnlbyrk opened #142 "Animate is not a function"
Hi,

First of all, thank you for this component. It is very good. However, I can not change the animation with
refs, and animate() function.. React native says that animate is not a function. I am on Expo.. Do you know about this issue?

[2018-07-06 21:22] shaheermir commented on #142
Had to dig through the source code to find it. The function has been changed to 'performLinearAnimation (toValue, duration)'.

As of it right now, it doesnt accept an easing funtion, instead its hardcoded to linear, as indicated by the function name.

[2018-07-06 22:13] suark opened #144 "View config not found for name RNSVGPath"
I've tried looking for some issue related in the `react-native-svg` and I couldn't find it. But here is what I'm seeing.
![simulator screen shot - iphone 6 - 2018-07-05 at 15 44 16](https://user-images.githubusercontent.com/6233440/42402207-95aff3de-8136-11e8-8233-a6393031241e.png)

This is happening when passing values as

[code]

I don't believe I'm passing anything incorrectly.

We are using `"

[2018-07-07 06:51] Jacse commented on #144
Have you installed and linked `react-native-svg`?

[2018-07-07 06:56] Jacse commented on #142
This happened because version 1.0.0 wasn't published to npm yet. It has now been published, please update 👍

[2018-07-07 06:56] #142 closed

[2018-07-07 06:56] Jacse commented on #140
Version `1.0.0` is now on NPM 😄

[2018-07-07 06:56] #140 closed

[2018-07-07 06:57] Jacse commented on #127
Since there has been no response, I went ahead and published on NPM

[2018-07-07 06:57] #127 closed

[2018-07-07 06:59] Jacse commented on #137
That's true. What I suggest doing then is simply creating your own animated component and controlling the fill prop yourself like so: `const AnimatedProgress = Animated.createAnimatedComponent(CircularProgress);`

[2018-07-08 10:21] terryBaz opened #145 "Tried to register two views with the same name RNSVGPath register"
## I got this error (i am using expo 25 -crna-, bellow my package.json) :
[code]

my code :
[code]

my package.json
[code]

[2018-07-08 16:30] Jacse commented on #107
Is anyone experiencing this on version `1.0.0`?

[2018-07-08 16:30] #111 closed

[2018-07-08 16:31] Jacse commented on #112
Closing since this is not relevant with version 1.0.0

[2018-07-08 16:31] #112 closed

[2018-07-08 16:32] Jacse commented on #112
But for the record you can always create your own animated component from the circularprogress-component and controll the fill-prop that way.

[2018-07-08 16:32] Jacse commented on #123
This shouldn't happen with the newest version. Please re-open if it does.

[2018-07-08 16:32] #123 closed

[2018-07-08 16:33] Jacse commented on #128
Do you still experience this with version 1.0.0?

[2018-07-08 16:34] Jacse commented on #134
@yeomann we're not adding this feature because people can wrap the component themselves if they need that behaviour. We try to keep each component as modular as possible.

[2018-07-08 16:34] #134 closed

[2018-07-08 20:23] yeomann commented on #134
although I believe this feature should come from out of the box, anyways, here's a little screenshot for those who wants to do so.
<img width="505" alt="screen shot 2018-07-08 at 23 21 51" src="https://user-images.githubusercontent.com/5970751/42423617-d58d4c88-8305-11e8-8935-8f14a7ff3b61.png">

[2018-07-09 14:15] suark commented on #144
@Jacse I'll recheck that there isn't a flaw in the `react-native-svg install`.

[2018-07-09 15:15] suark commented on #144
<img width="794" alt="screen shot 2018-07-09 at 9 13 51 am" src="https://user-images.githubusercontent.com/6233440/42459166-7b930102-8358-11e8-9855-bea2a34d90b2.png">

Just checking and it appears like their is no issue with have `react-native-svg` installed and linked.

Do you think it's possible that breaking changes have happened in their library?

[2018-07-12 04:53] janaka120 opened #146 "Native component for "RNSVGPath" does not exist"
I got this error message after import AnimatedCircularProgress component.

![capture](https://user-images.githubusercontent.com/10891893/42613100-b0d2da66-85bc-11e8-9d8a-914d1de49156.PNG)

My project config.
[code]
If anyone know how to solve this problem. Please help me.

[2018-07-12 09:49] infostreams commented on #146
Do this

`npm install react-native-svg --save`
`react-native link react-native-svg`

And then follow you can build it but get a build error, which can be resolved with the instructions here
https://github.com/react-native-community/react-native-svg/issues/544#issuecomment-355190129

After that the RNSVGPath error disappears.

[2018-07-12 09:54] janaka120 commented on #146
Thank you very much @infostreams . I'll give a try and let you know.

[2018-07-13 12:01] Jacse commented on #146
I've updated the reame to make the requirement more clear.

[2018-07-13 12:01] #146 closed

[2018-07-13 12:02] Jacse commented on #145
Sounds like you've installed react-native-svg twice. Does it come pre-packaged with expo? Try uninstalling it.

[2018-07-19 19:55] Jacse commented on #139
Do you still experience this with the newest version?

[2018-07-19 20:00] Jacse commented on #141
Please see #41. It's not supported atm.

[2018-07-19 20:00] #141 closed

[2018-07-19 20:00] Jacse commented on #107
Closing for inactivity, feel free to reopen.

[2018-07-19 20:00] #107 closed

[2018-07-19 20:01] Jacse commented on #137
I'll be closing this since it's not actionable.

[2018-07-19 20:01] #137 closed

[2018-07-19 20:01] Jacse commented on #128
Closing for inactivity, feel free to reopen

[2018-07-19 20:01] #128 closed

[2018-07-19 20:05] Jacse commented on #121
Now we've moved to a `react-native-svg`-based solution I'll close this. Having 20+ unique progressbars might still prove unwise because of the performance implications but at this point I don't know how to significantly improve performance.

[2018-07-19 20:05] #121 closed

[2018-07-23 13:06] lexor90 commented on #145
Hey there, thanks for this library. This issue can be solved by simply removing "react-native-svg" as a direct dependency of this library (it's listed inside of the package.json). Maybe you can move it to "devDependencies" for examples purposes. To patch it `rm -rf node_modules/react-native-circular-progress/node_modules/react-native-svg`. I'll send a PR later.

Hope this helps.

[2018-07-23 13:07] lexor90 commented on #145
Uhm, I forgot to mention that once you have removed the nested dependency, you have to make sure to install `react-native-svg` inside of your project and properly `link` its native module.

[2018-07-23 13:09] lexor90 commented on #145
It seems like a PR is already pending for this: https://github.com/bgryszko/react-native-circular-progress/pull/147

[2018-07-23 20:43] Jacse commented on #145
Merged 👍  Will publish to NPM one of the following days

[2018-07-23 20:43] #145 closed

[2018-07-24 04:40] janaka120 opened #148 "can't find the variable: Easing"
When I call onSubmit() on button press, it returns this error msg
`**Can't find variable: Easing**`

I import AnimatedCircularProgress like this.
`import { AnimatedCircularProgress } from 'react-native-circular-progress';`

This is my code.
[code]
**package.json**
[code]
I need to animate **AnimatedCircularProgress** when I click the button.
If someone knows how to do this, please help me.
Thank y

[2018-07-24 08:31] Jacse commented on #148
You need to import Easing first like so:
[code]

[2018-07-24 10:44] janaka120 commented on #148
Thanks @Jacse . I added your answer. Then I got this error.

`undefined is not a function (evaluating ' _this.circularProgressRef.animate(100, 8000, _reactNative.Easing.quad)')`

Thank you.

[2018-07-26 01:23] #148 closed

[2018-07-26 10:30] Jacse commented on #55
For now we wont support this, but feel free to show support for the feature request by using emojis

[2018-07-26 10:30] #55 closed

[2018-07-26 10:31] Jacse commented on #104
I'm closing this for inactivity, but feel free to comment if you still experience this.

[2018-07-26 10:31] #104 closed

[2018-07-26 10:32] Jacse commented on #135
This should be fixed in the current version. Please reopen if you still experience this in version `1.0.1`.

[2018-07-26 10:32] #135 closed

[2018-07-26 10:32] Jacse commented on #139
Closing for now, feel free to reopen.

[2018-07-26 10:32] #139 closed

[2018-07-27 15:38] truongluong1314520 commented on #144
I got an error in version react-native 0.55.4 too but in Android. It because of the build.gradle use "implementation" instead of "compile".

I think iOS get error because of the way it link. I suggest you should link by manual instead of using react-native link command

[2018-08-02 17:10] Sangrene opened #150 "Animation a bit laggy"
The circular animation is a bit laggy on iOS, is there any way to use native driver to smooth performances ?

Thanks

[2018-08-08 13:17] AylwSt01 opened #151 "exports is not defined"
trying to use this in a project, and when running in Storybook i get the following error.
The debugger points me to line 4.

![image](https://user-images.githubusercontent.com/20923612/43839324-bb3e0f20-9b15-11e8-8a9b-6e8ca225cfa7.png)

[2018-08-08 13:38] AylwSt01 commented on #151
i fixed the issue in node_module by changing the import lines to:
[code]
any chance this library can be updated to reflect this change?

[2018-08-09 13:37] rafaelpadovani opened #153 "After animation change the screen"
I would like that when my animation finished the app change the scene. But when I try to make this change I got this error:

![captura de tela 2018-08-09 15 15 52](https://user-images.githubusercontent.com/21176544/43901973-262b1ca0-9be9-11e8-8723-5c68d5154821.png)

I am using react-native-router-flux to change the scene and the prop onAnimationComplete to call a function to make the change. Shoul

[2018-08-09 14:46] rafaelpadovani commented on #153
I solve by passing ref={(ref) => this.circularProgress = ref } as a prop in the component and starting the animation in componentDidMount like this:

`componentDidMount () {
    this.circularProgress.animate(100, 8000);
  };`

[2018-08-09 14:47] #153 closed

[2018-08-09 15:49] Jacse commented on #151
Moving to #152

[2018-08-09 15:49] #151 closed

[2018-08-10 12:57] #60 closed

[2018-08-10 12:59] markusl commented on #46
Sounds like the issue was fixed!

[2018-08-10 12:59] #46 closed

[2018-08-13 23:01] pastean opened #154 "Responsively center two circles on top of eachother"
I've been trying to place one circle inside another; it's a fairly simple task but I can't figure out how to make sure they all look the same on different devices, what looks well on one device looks displaced on another, I think you get the point. Mind pointing me in the right direction?

[2018-08-15 10:10] #154 closed

[2018-08-16 10:26] roysG commented on #144
Same for me, Version react: 0.54.4
Any updates?

[2018-08-16 15:04] freddessert commented on #144
From the `README` of `react-native-svg` library:
Android
npm install react-native-svg --save

Append the following lines to android/settings.gradle:

include ':react-native-svg'
project(':react-native-svg').projectDir = new File(rootProject.projectDir, 	'../node_modules/react-native-svg/android')
Insert the following lines inside the dependencies block in android/app/build.gradle:

compile project

[2018-08-17 12:25] jmaricic opened #155 "AnimatedCircularProgress as timer"
Is it possible to show AnimatedCircularProgress as a timer? I'd like to start the timer and show it's value inside AnimatedCircularProgress... Is that possible at all?

[2018-09-02 15:58] matteocollina commented on #23
It works for me:
1) In my _Podfile_ i entered "**ART**" (my example)

[code]

2) `pod install` (inside ios folder)
3) `react-native run-ios`

[2018-09-11 09:48] mattmattkim opened #156 "Invariant Violation: requireNative Component: "RNSVGPath" was not found in the UIManager"
HI,

I've run on my project:
`npm i --save react-native-circular-progress react-native-svg
react-native link react-native-svg`

And immediately received this error while testing out this code:

`      <AnimatedCircularProgress
        size={120}
        width={15}
        fill={100}
        tintColor="#00e0ff"
        onAnimationComplete={() => console.log('onAnimationComplete')}
        backgroun

[2018-09-11 11:58] Jacse commented on #156
Installing the libraries and linking them are two seperate commands. So first you would install it with `npm i --save react-native-circular-progress react-native-svg` and then afterwards you would run `react-native link react-native-svg`

[2018-09-11 12:26] mattmattkim commented on #156
Thanks for your quick reply!

I did do that,  i just don't know how to format line breaks in Github comments. :)

I discovered it was the react-native-svg library acting up.
I fixed it using Cocoapods as described in #2 on this page:

https://www.npmjs.com/package/react-native-svg

[2018-09-11 23:38] VicFrolov commented on #4
@perrosnk I was able to get a shadow working by simply wrapping the AnimatedCircularProgress in a View, and applying a shadow :)

[2018-09-19 14:49] pro-nasa opened #158 "Update react-native-svg version in peerDependencies"
RN 0.57 requires a react-native-svg 7.x

[2018-09-19 14:50] pro-nasa commented on #158
"react-native-circular-progress@1.0.1" has incorrect peer dependency "react-native-svg@^6.3.1".

[2018-10-02 00:34] Tino-F commented on #156
I'm getting the same issue on a Samsung Galaxy S8 and this didn't work for me

[2018-10-24 03:19] bloodelves88 opened #160 "How do I use this with Expo?"
I'm trying to use this with Expo, and when attempting to build the app, I get this error:

`
Unable to resolve "react-native-svg" from "node_modules/react-native-circular-progress/src/CircularProgress.js"
`

If I install `react-native-svg`, I get this error:

`
Tried to register two views with the same name RNSVGPath
`

I understand that Expo comes with its own `react-native-svg` already, which is

[2018-10-25 03:26] nithinM opened #161 "Manually trigger stop"
I have a quick question, is there way to manually stop the animation?
What I already did.
[code]
[code]

Thank you!

[2018-10-30 02:58] bloodelves88 commented on #160
I decided to use version 0.2.0 of this package. Works for me and there's no issue with Expo

[2018-10-30 02:58] #160 closed

[2018-11-03 05:12] pckz commented on #102
@mkpietrzyk how do you solved that? I need the same. Reset without animation

[2018-11-05 19:38] mkpietrzyk commented on #102
HI! I am sorry I left the team where the solution was implemented last year so I don't remember. My teammate made a proper fix for it next week this question was asked. I think we used componentDidUpdate with proper animation / re-rendering asset, can't tell you the details because I just don't remember :(

[2018-12-03 03:08] buddhishan commented on #156
For iOS, run `pod install` to install missing pods.

[2018-12-05 07:20] hanishcodebrew commented on #41
@fdnhkj How to make it spin in the opposite direction?

[2018-12-05 07:35] MikePodgorniy commented on #41
@hanishcodebrew you can wrap component into
[code]
or use similar code
https://github.com/MikePodgorniy/react-native-conical-gradient-progress/blob/de35329780ed6431ff21710dc8a6c69b639263e8/CircularProgress.js#L175-L183

[2018-12-05 07:48] hanishcodebrew commented on #41
Thanks @MikePodgorniy for the instant reply. It works. I am facing a issue in Android.
![screen shot 2018-12-05 at 1 14 52 pm](https://user-images.githubusercontent.com/40761838/49498083-f806b100-f88f-11e8-9bb9-fbeda53a0f65.png)
![screen shot 2018-12-05 at 1 14 52 pm](https://user-images.githubusercontent.com/40761838/49498090-fb9a3800-f88f-11e8-997d-a921219a2862.png)

I have given 45 to fill but

[2018-12-05 07:51] bartgryszko commented on #41
@MikePodgorniy I'm not actively participating in developing this library as I'm not working on any RN projects currently. That said, feel free to add PR, if not me, maybe @Jacse or @markusl would be able to review and merge it.

[2018-12-05 07:51] MikePodgorniy commented on #41
@hanishcodebrew yes, you can 👍 use render callback to this. but you need to rescale your inner components again
https://github.com/MikePodgorniy/react-native-conical-gradient-progress/blob/de35329780ed6431ff21710dc8a6c69b639263e8/example/App.js#L25-L32

[2018-12-14 06:13] buraksak35 opened #164 "I need diffrent width circle like bottom image. How can I do ?"
![ekran resmi 2018-12-14 09 11 24](https://user-images.githubusercontent.com/39245976/49986311-747c4c80-ff80-11e8-997d-e06b7c5d6601.png)

[2018-12-15 13:10] markusl commented on #161
I think this is implemented in PR #149

[2018-12-15 13:11] markusl commented on #150
Which iOS version? Do you see the issue in the simulator or actual phones?

[2018-12-15 13:12] markusl commented on #62
Closing this issue as inactive. Please open a new one if there is a new issue with the library.

BR,
Markus

[2018-12-15 13:12] #62 closed

[2018-12-15 13:13] markusl commented on #158
Could you possibly open a pull request to fix this? Thanks :)

[2018-12-16 14:56] Sangrene commented on #150
Tested on real devices (iPhone 6 & 8) using iOS 9.x & 11.x

[2018-12-27 07:39] RukaiJohn opened #165 "Progress tends to lag"
I'm not sure what I'm doing wrong, but while the progress is active, it tends to lag while it's progressing. For example, it would stop noticeably in some spots and continue. I'm trying to do 3 and 10 seconds.

what i did:

       <AnimatedCircularProgress
                ref={ref => (this.circularProgress = ref)}
                size={200}
                width={20}
                fill={3}

[2018-12-29 17:30] markusl commented on #158
react-native-svg updated to 8.0.10

[2018-12-29 17:30] #158 closed

[2018-12-29 17:31] markusl commented on #165
Duplicate of #150

[2018-12-29 17:31] #165 closed

[2018-12-29 20:15] markusl commented on #150
@Sangrene or @RukaiJohn could you describe in which circumstances and example code this happened? I tested this with iPhone XS and didn't see any lag.

You could also try with latest version as I updated the dependencies in the latest version.

[2019-01-07 10:25] zanisis opened #166 "how make circle progress color gradient"
i want make circle progress using  gradient color is available?.

[2019-01-10 07:34] Jacse commented on #166
Not possible currently due to performance implications. Please see #41.

[2019-01-10 07:34] #166 closed

[2019-01-18 00:00] Angelk90 commented on #41
@fdnhkj,@GroupXTech,@morelazers,@bartgryszko,@fdnhkj,@NeXTs,@MikePodgorniy,@hanishcodebrew :
I wanted to know how it ended, it also served me.

@fdnhkj: Your module react-native-conical-gradient, I do not find it on npm you can upload it, can you also put an example code?

@MikePodgorniy: Your module react-native-conical-gradient-progress, I do not find it on npm you can upload it, can you also pu

[2019-01-18 08:43] MikePodgorniy commented on #41
@Angelk90 Try now, it is available as an npm-package:
https://www.npmjs.com/package/react-native-conical-gradient-progress.

You can find an example here – https://github.com/MikePodgorniy/react-native-conical-gradient-progress/tree/master/example

if you use clear react-native you should install react-native-svg.

[2019-01-18 10:32] Angelk90 commented on #41
@MikePodgorniy :  I do not understand why among the dependencies you did not put svg in the package.json?

[2019-01-18 12:04] Angelk90 commented on #41
@MikePodgorniy : I tried to convert your module to try it on https://snack.expo.io/
I am given the following error:
`TypeError: undefined is not an object (evaluating 'o.map')
`
Line 27 of CircularProgress:
Here is the link where you can try it: https://snack.expo.io/HkDheSJmE

[2019-01-18 14:14] Angelk90 commented on #41
@MikePodgorniy : Do not allow me to create issues in the indicated project.

[2019-01-18 14:16] MikePodgorniy commented on #41
@Angelk90  sorry, try again

[2019-01-22 08:54] souhaiebtar opened #168 "can it be changed to liquid fill animation ?"

[2019-01-22 21:30] ajkhatibi commented on #156
@amed was that with pods installed or without?

[2019-01-23 10:19] PierreCapo commented on #156
I've solved this issue by doing the manual installation without pods:
https://github.com/react-native-community/react-native-svg#ios

[2019-01-24 09:22] lutakyn opened #169 "Nothing shows on my Screen - help wanted"
I am trying the library with this simple code and the error I get is **Invariant Violation: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined**

[code]

[2019-01-26 11:05] markusl commented on #169
Hi. Did you try out the example app included in the repository? I just recently tested it and created it from scratch to avoid any problems.

BR,
Markus

[2019-01-28 03:59] MrAlekhin commented on #169
The same for me. I've recently updated to react-native@0.57

[2019-01-29 17:31] markusl commented on #169
@MrAlekhin same question for you. Did you try the included example app and if yes, was there any issues with that?

[2019-01-30 09:08] lutakyn commented on #169
It worked eventually,i didn't use the fill well,however the rotation of 90 degrees doesn't work as expected,shouldn't the rotation be 0?

[2019-02-04 10:43] #169 closed

[2019-02-04 14:38] #161 closed

[2019-02-11 10:26] omatrot opened #170 "Way to center text in circle automatically?"
In the sample provided, the text position in the big circle is absolute. If you change the circle size, the text is no more aligned.

[2019-02-11 10:43] Jacse commented on #170
That's a mistake in the example. Without specifying any styles, text should be aligned by default. Could you test without specifying any styles?

[2019-02-11 11:18] omatrot commented on #170
yep that works.

[2019-02-11 11:18] #170 closed

[2019-02-14 15:59] Surangaup opened #171 "How to use reAnimated function?"
How to use **reAnimated** function here. any sample code?

[2019-02-15 19:40] stehrenberg commented on #160
Same issue. Is downgrading to 0.2.0 really the only way?

[2019-02-16 13:15] markusl commented on #160
@stehrenberg did you try to run the included example app?

[2019-02-20 16:02] abrillo2 commented on #171
//below code reanimates infinitely , and the circle is fullCircle

<AnimatedCircularProgress

                    ref={(ref) => this.circularProgress = ref}
                    size={300}
                    width={150}
                    fill={0}
                    duration={8000}
                    prefill={100}
                    tintColor="#73989d"
                    backgroundColor={Prim

[2019-02-25 23:01] sepehr-laal commented on #150
I am here to report that animations are laggy on Android as well. On Pixel XL with Android 9.0.
I tried using the native driver but it entirely disables all animations.

[2019-02-26 07:53] lucasbento opened #172 "When providing `prefill` and `fill === 0` there's no animation"
So, when providing `prefill` with a value like `100` and `prefill` as `0` the circle doesn't animate at all and stays like if it is `100%` fulfilled.

How it is currently:
![kapture 2019-02-26 at 8 50 39](https://user-images.githubusercontent.com/6207220/53395995-a14ad800-39a3-11e9-88cd-6ddf6b0171ca.gif)

How it is supposed to be:
![kapture 2019-02-26 at 8 52 41](https://user-images.githubusercont

[2019-02-26 10:54] #172 closed

[2019-02-26 10:56] Jacse commented on #156
I’m going to close this issue since it’s about installing react-native-svg and not this component

[2019-02-26 10:56] #156 closed

[2019-02-26 10:57] Jacse commented on #155
Sure! You can just define the fill-value as a percentage of time elapsed

[2019-02-26 10:59] Jacse commented on #144
Closing since this issue seems resolved

[2019-02-26 10:59] #144 closed

[2019-02-27 06:52] Jacse commented on #171
Documentation has just been updated with more info on `reAnimated`. I'll close this for now.

[2019-02-27 06:52] #171 closed

[2019-02-27 06:52] Jacse commented on #168
Can you expand what you mean by liquid fill animation?

[2019-02-27 06:54] Jacse commented on #98
I think I'll close this since @markusl and I seem to be doing ok with maintaining the repo at the moment.

[2019-02-27 06:54] #98 closed

[2019-02-27 06:58] renyuan1991 opened #175 "Error while updating property 'd' in shadow node of type:ARTshap"
<View style={styles.container}>
                <AnimatedCircularProgress
                    ref={(circularProgress) => {this.circularProgress = circularProgress}}
                    rotation={0}
                    size={AutoSize(200)}
                    width={AutoSize(8)}
                    tintColor="#5679E9"
                    backgroundColor="#DDE5FF"
                    onLinearAnimati

[2019-02-27 06:59] renyuan1991 commented on #175
`<View style={styles.container}>
                <AnimatedCircularProgress
                    ref={(circularProgress) => {this.circularProgress = circularProgress}}
                    rotation={0}
                    size={AutoSize(200)}
                    width={AutoSize(8)}
                    tintColor="#5679E9"
                    backgroundColor="#DDE5FF"
                    onLinearAnimat

[2019-02-27 07:17] #175 closed

[2019-02-27 07:51] souhaiebtar commented on #168
first thanks for responding, what i meant i something like this
![liquidFillAnimation](https://i.imgur.com/a2kgpK5.gif)

[2019-02-27 08:10] Jacse commented on #168
That looks more like a linear progress bar instead of a circular one. I'm afraid this component is focused on circular progress indicators and does not support a progress bar like the animation you attached.

[2019-02-27 08:22] souhaiebtar commented on #168
yes, it's a linear progress bar, thanks anyway

[2019-02-27 08:22] #168 closed

[2019-02-28 16:44] doug-stritt commented on #150
I'm also running into this issue on the iOS simulator running 12.1, react native 0.57.5, react 16.6.1 and RNSVG 9.2.4.

[2019-03-02 08:29] RukaiJohn commented on #150
It's laggy in all phones I tried it on. It doesn't matter if it's modern or old,

[2019-03-04 18:51] jgutierrez11 opened #176 "Cropped when setting backgroundWidth"
Hello!
I like this lib, but when trying to accomplish the design provided in this image

<img width="203" alt="screen shot 2019-03-04 at 12 07 15 pm" src="https://user-images.githubusercontent.com/12516663/53755420-1d4d9000-3e7c-11e9-80e1-eec1453d5a39.png">

The circles loos cropped. Here's my code:
`<AnimatedCircularProgress
          size={210}
          width={20}
          fill={20}

[2019-03-06 19:35] cyucelen commented on #150
Yes I am experiencing the lag too. Is there any way to overcome from this issue?

[2019-03-07 14:57] phpsmarter commented on #160
if you use expo ,need modify some code

because of expo redefine SVG code  ,  need change some code in the sourcecode

[code]

[2019-03-08 06:17] vinayak2095 opened #177 "Animation progress bar to move at Anti-Clockwise direction"
I want to move my progressBar Anti-clockwise ,how can i do that using this library.

[2019-03-08 10:29] lgraubner opened #178 "peerDependency versions too high"
Is there a reason why the peerDependency version of React is `16.7.0`? The official supported Version from React Native is `16.6.3`.
Also it might make sense to change React Native version from `^0.57.8` to `>=0.57.8` (and maybe lower it).

I'm willing to make a PR, just want to make sure if there is any reasoning behind the current versions.

[2019-03-11 16:18] Neck1T opened #179 "tintColor or circlePath problem on IOS"
Hi. Problems with fill the circle on IOS (android works ok).

As I found problem in
`const circlePath = this.circlePath(size / 2, size / 2, size / 2 - width / 2, 0, arcSweepAngle * this.clampFill(fill) / 100);`
If I remove  **this.clampFill(fill) / 100** , it fills ok ( but full circle ).
![image](https://user-images.githubusercontent.com/31615366/54139330-fa961b00-4429-11e9-91ca-4f9a02f27d5b.png)

[2019-03-13 02:48] Jacse commented on #178
No, there isn't. I don't know why this was updated; it creates versioning conflicts with Expo.

[2019-03-13 02:52] Jacse commented on #178
Fixed in 85fb0c246a5aadffd20cb9d9f81b8d6019553fec

[2019-03-13 02:52] #178 closed

[2019-03-13 03:09] #176 closed

[2019-03-13 03:12] Jacse commented on #179
What exactly is happening and what did you expect would happen? Does it not animate?

[2019-03-13 03:15] Jacse commented on #155
I'm going to close this since it is not actionable.

[2019-03-13 03:15] #155 closed

[2019-03-13 03:16] Jacse commented on #84
Moving discussion to #163

[2019-03-13 03:16] #84 closed

[2019-03-13 03:16] Jacse commented on #133
This seems to be a mixture of two requested features: #163 and #41. Let's keep discussion there.

[2019-03-13 03:16] #133 closed

[2019-03-13 09:32] Neck1T commented on #179
@Jacse As You can see - I indicated fill={60}.  But it did not fill it on IOS. On android it works ok

expected on IOS: fill={60}  with #77C744
got on IOS: empty circle ( it did not fill it )

[2019-03-14 05:49] AkilLis commented on #179
Same here tested on React native 0.59.0

[2019-03-14 14:00] qvick1pro commented on #179
Downgrade react-native-svg to 8.0.10 resolving that issue

[2019-03-14 14:20] deepslam commented on #150
The animation is lagging a lot! I used it on a real device and if the value is big (1000) for example then the animation will be very slow.

[2019-03-14 19:19] philipaarseth opened #181 "Does not animate on 0.59.1"
Hi,

I just upgraded to 0.59.1 and the circular-progress **stopped animating**. It renders the starting position just fine w/wo prefill.

The first of both instances is what I used to have, the second is from the example from the readme which doesn't work either.

Has anybody noticed this? and or knows how to fix it?

[code]

[code]

environment: no expo
[code]

testing on iOS 12.1.3

[2019-03-14 20:47] tbakerx commented on #164
Can't you just increase the width prop passed into the component?

[2019-03-14 22:24] VasilUrda commented on #181
Same Issue I have!!

[2019-03-15 08:12] lhh-sofy commented on #181
me to!!

  "react": "16.8.3",
    "react-native": "0.59.0",
    "react-native-circular-progress": "^1.1.0",
    "react-native-svg": "^9.3.3",

[2019-03-15 08:13] lhh-sofy commented on #181
Have you solved this problem?

[2019-03-15 12:09] andriinegustorov commented on #181
+ 1 on iOS only

[2019-03-16 02:11] Jacse commented on #179
Moving this to #181

[2019-03-16 02:11] #179 closed

[2019-03-19 20:02] lichstam commented on #181
upgrade to latest `react-native-svg`

[2019-03-19 20:03] lichstam commented on #181
`9.3.5`

[2019-03-20 07:35] m-ochyra commented on #181
It works for me.

[2019-03-20 07:40] Jacse commented on #181
This is due to https://github.com/react-native-community/react-native-svg/issues/973. As other people have figured out, it can be fixed by upgrading to `react-native-svg>=9.3.4`

[2019-03-20 07:40] #181 closed

[2019-03-20 18:08] alittletf commented on #156
for any future person coming here with this issue that I faced on Android, make sure to recompile your project so RN picks up the native lib changes. I forgot this simple step

[2019-03-24 13:40] spikeisryu commented on #177
Me too. For instance, + value -> clockwise, - value -> anti-clockwise.
Any plan to support this feature?

[2019-03-26 10:05] ameernormie opened #182 "Types for the package"
I am working on a typescript react native project. How do I include types for this lib.
Are you planning on defining types?

[2019-03-27 17:35] nricardo commented on #177
You can use style prop with transform, something like:
  `style={{ transform: [{ scaleX: -1 }] }}`

[2019-03-28 13:14] vinayak2095 commented on #177
@nricardo Thanks ,This worked.

[2019-03-28 15:58] spikeisryu commented on #177
@nricardo
I tried it as you suggested and the bar moves as I want, but the inner contents are affected, too.
<img width="130" alt="ErrorRate" src="https://user-images.githubusercontent.com/23102875/55172676-be024780-51bd-11e9-82a1-a51ce9330d1b.png">

Is there another way to solve this issue?

[2019-03-28 16:36] nricardo commented on #177
That's because probably applied the transform to the parent view where your progress and text are children off. The fix is simple: isolate those two parts and position absolute the inner contents on top of the circular progress... Hope that solves it...

[2019-04-02 08:54] philipaarseth opened #183 "React hooks useRef?"
Hi,

Has anybody tried using this with hooks yet?

Here's what I'm doing, which isn't working:

[code]

[2019-04-03 14:10] ManigandanRaamanathan commented on #177
@nricardo add the stated transform style on both progress bar and its child content

[2019-04-05 17:52] vandervidi commented on #182
I need types too.

[2019-04-07 15:23] markusl commented on #182
@vandervidi @ameernormie since this is an open-source project we would be more than happy receiving contributions from users :)

[2019-04-12 09:58] ShrutiGarg019 commented on #81
can you post a working code as i am facing issue (i also wan to achive exactly same )and very confused with this??

[2019-04-14 12:15] fadyshawky opened #184 "Use as eta timmer"
Hi,
i need help to use this component as eta timer as it starts with the specified eta and ends when it arrives to zero.

Also i need the fill = 100 with the initial eta

thanks.

[2019-04-16 06:04] markusl commented on #182
Should be fixed by #185.

[2019-04-16 06:04] #182 closed

[2019-04-18 10:26] VadimCeretean opened #186 "Circle is never empty"
![tSyiA6AR](https://user-images.githubusercontent.com/45070098/56354863-476dce00-61ee-11e9-8e16-61b321860d8c.png)
fill is 0, but circle is not empty

[2019-04-19 12:58] matviishyn commented on #150
Same for me, lagging hardly, when I try to use native driver it stops playing

[2019-04-23 12:55] Alexey5791 commented on #186
Same issue on Android 8.0

[2019-04-24 07:23] #186 closed

[2019-04-24 19:51] doug-stritt commented on #150
I encountered the same problem when trying out react-native-progress. When I quit React Native Debugger the problem went away.

[2019-04-26 06:58] zSergeant opened #187 "the img will hide in android"
`<AnimatedCircularProgress
                                size={64}
                                width={2}
                                backgroundWidth={2}
                                fill={34}
                                tintColor="#00e0ff"
                                backgroundColor="#3d5875"
                                lineCap="round"
                                rotat

[2019-04-26 06:59] zSergeant commented on #187
ios[
<img width="338" alt="WeChatba808d8b6ffc6a19bf7b7f2ebef67672" src="https://user-images.githubusercontent.com/22462851/56789176-e66c7880-6833-11e9-96ac-2a0f6287234e.png">
](url)

[2019-04-26 07:40] zSergeant commented on #187
I changed the style of childContainerStyle in CircularProgress;
const childContainerStyle = {
            position: 'absolute',
            left: width,
            top: width,
            width: offset,
            height: offset,
            borderRadius: offset / 2,
            alignItems: 'center',
            justifyContent: 'center',
            overflow: 'hidden',
            zIndex:0

[2019-04-26 08:05] jovanovski opened #188 "Change fill color as animation progresses"
Is it possible to change the fill color as the animation progresses? Basically I want to start the fill with green, fade it to yellow half way and the fade it to red when it gets full.

So no gradient, changing the whole fill of the circle, but based on the current value of the animation

[2019-05-04 05:33] hansa0712004212 commented on #53
Linecap is not working on v 1.1.0.
Please help

[2019-05-10 10:19] Mactub07 commented on #53
@hansa0712004212, as I see in code of this module you should use 'lineCap' instead of 'linecap'

[2019-05-10 10:37] hansa0712004212 commented on #53
Sorry. Typo error.
Well that is not problem. Here is my final code.
[code]
Still lineCap is missing.
See screenshot [here](https://i.imgur.com/h0wnNWE.jpg).

[2019-05-21 06:32] sidhusubhash opened #190 "Is there any way to start the circular progress from the top instead of right?"

[2019-05-21 06:40] #190 closed

[2019-05-22 19:27] RobertFOConnor commented on #150
Have you tried react-native-progress-wheel?

[2019-05-22 20:12] RobertFOConnor commented on #188
Not supported by this library unfortunately. You could try react-native-progress-wheel, which supports this feature.

[2019-05-24 15:35] neiker opened #192 "Add changelog"
I want to upgrade this labrary, my current version is `0.1.2` and latest one is `1.1.0`.

I wanted to know why you change major so my first thrown was go to releases on github
https://github.com/bartgryszko/react-native-circular-progress/releases

But it's empty.

Then I think: "ok, I'll look on tags:
https://github.com/bartgryszko/react-native-circular-progress/tags

But there's no tags.

Finally

[2019-05-27 08:21] di2pro opened #193 "Animated.Value isn't not supported by the size property"
![image](https://user-images.githubusercontent.com/13060682/58406063-7be86b80-8071-11e9-8e9b-ac8dda3a02f6.png)
I've checked all available versions

[2019-05-28 10:56] adybuciuman opened #194 "Android - circle cropped on bottom and right side"
Great library. On iOS is working great. but on Android the circle is cropped on right and bottom side. Any help would be appreciated

![image](https://user-images.githubusercontent.com/12176091/58472978-2a62de00-8150-11e9-9b09-3a44c0eb29b9.png)

[2019-05-28 20:36] Nfcsolutions opened #195 "I got this error. undefined is not a function (evaluating ' _this.circularProgressRef.animate(100, 8000, _reactNative.Easing.quad)')"

[2019-05-28 21:08] Nfcsolutions opened #196 "Thanks @Jacse . I added your answer. Then I got this error."
Thanks @Jacse . I added your answer. Then I got this error.

`undefined is not a function (evaluating ' _this.circularProgressRef.animate(100, 8000, _reactNative.Easing.quad)')`

Thank you.

_Originally posted by @janaka120 in https://github.com/bartgryszko/react-native-circular-progress/issues/148#issuecomment-407362966_

[2019-05-28 21:19] ahmetozalp commented on #183
not working.

[2019-05-28 23:46] chasevida commented on #183
You can't really do it like that as it's reassigning the ref I think. But you could still control it functionally inside of `useEffect` like so:

[code]

[2019-05-31 16:56] ahmetozalp commented on #183
Thank you.

[2019-06-06 04:51] martinpiria commented on #194
Same happens to me

[2019-06-07 14:36] dbarner1 opened #197 "Mind cutting master to npm?"
Would help resolve peer dependency peer dep missing error for everyone on RN 57.9 and above:

`npm ERR! peer dep missing: react-native@^0.57.8, required by react-native-circular-progress@1.1.0`

[2019-06-08 05:20] markusl commented on #195
Could you post a reproducable code sample?

[2019-06-08 12:53] ErwanDL commented on #194
I have also noticed this issue on both iOS and Android. It seems that changing the size of the circle to certain values can fix this (for example, odd percentages of total screen width on my Android phone), but these values are not the same for every device, so it makes it really hard to fix.

[2019-06-10 15:43] DaKaZ opened #198 "GitHub description still references ReactART"
Hi all, super minor documentation issue: even though this project switched to using react-native-svg last year, the GitHub description still says it uses ART:
![Screen Shot 2019-06-10 at 9 40 44 AM](https://user-images.githubusercontent.com/895892/59207346-211c3d00-8b64-11e9-9842-f6ef084336e1.png)
Would be nice if someone could update that to avoid confusion.

[2019-06-15 08:28] kg-currenxie commented on #195
For refs, you need to use the `current` method, like so;
`circularProgressRef.current.animate(...`

[2019-06-24 13:37] Jonnakutivijaykumar commented on #171
<AnimatedCircularProgress
                          size={50}
                          width={3}
                          fill={fill}
                          tintColor="#2874A6"
                          backgroundColor="#7FB3D5"
                          // duration={item.timer * 1000}
                          duration={30*1000}
                          prefill = {10}

[2019-06-24 13:39] Jonnakutivijaykumar commented on #171
<AnimatedCircularProgress
                          size={50}
                          width={3}
                          fill={fill}
                          tintColor="#2874A6"
                          backgroundColor="#7FB3D5"
                          // duration={item.timer * 1000}
                          duration={30*1000}
                          prefill = {10}

[2019-06-27 16:47] z00m1n commented on #171
The code above fails with `_this.circularProgress.reAnimate is not a function.` after the first animation has run. Is the code complete ? Or do I need to define `this.circularProgress` somewhere ?

[2019-07-07 16:02] milad1367 opened #199 "the fill option in AnimatedCircularProgress does not work in android version"
I had a problem with the fill option here :

finally, I changed the fill props in AnimatedCircularProgress.js and  my problems solved
![Screen Shot 2019-07-07 at 8 20 49 PM](https://user-images.githubusercontent.com/15375991/60770953-0783fc00-a0f6-11e9-982b-ba59d4cde7c3.png)

[2019-07-07 16:02] #199 closed

[2019-07-16 13:40] markusl commented on #197
Could you be a little bit more specific what you mean by this?

[2019-07-16 13:41] markusl commented on #196
Is this still a problem with the latest version?

[2019-07-16 13:41] markusl commented on #193
Is this still a problem with the latest version?

[2019-07-16 13:42] markusl commented on #150
@deepslam @matviishyn @sepehr-laal are you still seeing the lag with the latest version? I just recently updated the example app and tested with an iPhone and could not see any issues.

[2019-07-16 13:45] markusl commented on #194
Could you post some example code that reproduces the issue? I just recently updated the example app and it would be helpful if you could test with that as well.

BR,
Markus

[2019-07-16 13:46] markusl commented on #184
This is not really a bug in the library and I'm not sure what you are actually trying to achieve. Please feel free to reopen if there is an improvement request or a bug with the component.

BR,
Markus

[2019-07-16 13:46] #184 closed

[2019-07-16 15:04] dbarner1 commented on #197
This is no longer needed, since v1.3.0 was shipped to npm.

Thanks for checking in, and the work on this project @markusl!

[2019-07-16 15:04] #197 closed

[2019-07-16 17:45] sepehr-laal commented on #150
@markusl I ended up using [Victory Native](https://github.com/FormidableLabs/victory-native). I also never had issues with perf on iOS. my issue was on Android Pixel XL.

[2019-07-16 18:48] matviishyn commented on #150
As I mentioned above, it's laggy in dev mode and on some of low-end devices, I just ended up with `react-native-progress-wheel`, it doesn't require any dependencies

[2019-07-18 05:05] PavelPolyakov commented on #194
This happened to me, when size of the chart was a floating number. For integers there is no such issue.

[2019-07-18 13:07] tomerzcod7 commented on #102
Did you guys solve this yet? (For react, not react-native)

[2019-07-22 02:49] Bang9 commented on #194
@PavelPolyakov Thanks!

[2019-07-23 03:39] dexter-juntilla opened #200 "clipped line cap on android"
[code]
![Screenshot_1563852417](https://user-images.githubusercontent.com/12708830/61680685-2791fd00-ad3d-11e9-8631-64b43b24cfee.png)

[2019-07-23 03:52] dexter-juntilla commented on #200
temporary workaround
[code]

[2019-07-26 09:40] markusl commented on #194
Looks like this one is solved.

[2019-07-26 09:40] #194 closed

[2019-07-26 10:08] markusl commented on #200
I tried the sample code provided on iOS and did not see the bug. Unfortunately I have no Android device around to test with. If you find out what is the problem you could submit a PR. Keeping this open for now

[2019-08-11 17:32] kiril-me opened #201 "Support timer progress"
The fill animation counter gets a number between 0-100.
Example: ```{fill => <Text>{fill}</Text>}```

It's impossible to make the right timer. The current time can be calculated using the formula: fill * totalTimeInSeconds / 100

However, the timer will not show all seconds if the total time exceeds 100 seconds.
For example, display 10 minutes (600 seconds).
fill 1: 6 seconds
fill 2: 12 seconds
..

[2019-08-19 03:02] RikusWiehahn commented on #160
How I fixed this:
1. Make sure react-native-svg is not in package.json
2. Delete package-lock.json
3. Delete node_modules
4. Run npm install

I think it's caused by react-native-svg being installed twice and the dependencies getting mixed up

[2019-08-23 08:31] ngnclht1102 commented on #41
I have the same problem as well, the UI's fps is dropped to 2x. Any ideas on how to improve it?

[2019-08-23 11:12] AreebVohra opened #202 "pointer at the end of progress"
hello sir,
this is an amazing library and it's working perfectly.
i wanted to know if a pointer can be added at the end of the progress

![image](https://user-images.githubusercontent.com/34376767/63588649-7b079d00-c5c0-11e9-875a-3a048c6f0598.PNG)

[2019-09-05 06:11] KiranreddySrDev opened #204 "Width and size did not working in IOS"
I am happy to use this package but I got an error when I do change AnimatedCircularProgress width and size. it's getting some error and hang my emulator also when the size and with are changed.

Please let me know I did anything wrong ?

[2019-09-05 16:07] akhtariali opened #205 "Using react-native-circular-progress with Vue Native"
I'm trying to use react-native-circular-progress with Vue Native. Almost everything is cool, but when I try to fill the progress bar (write something inside it), I get this error:

![image](https://user-images.githubusercontent.com/46029474/64358764-4c57e080-d01c-11e9-8787-587404f261ba.png)

**This is my code:**
TEMPLATE:
[code]
SCRIPT:
[code]

[2019-09-07 10:27] akhtariali commented on #205
Hello! So I found a solution.
I created a JSX component:
[code]
Fed my Vue component with it:
[code]
And finally used the method (function) as a prop in the component:
[code]

[2019-09-07 10:28] #205 closed

[2019-09-14 16:09] #202 closed

[2019-09-17 15:06] pisacode opened #210 "tintColorSecondary does not exist on type"
tintColorSecondary is not implemented

[2019-09-17 16:20] lashansam commented on #210
same issue

[2019-09-18 07:06] pisacode commented on #210
It seems somehow it was remove from the file. Here is the commit with the tintColorSecondary prop in place [https://github.com/bartgryszko/react-native-circular-progress/blob/72e1d2d1b43fcdfb3d1eee5ee6edf77db3736003/src/AnimatedCircularProgress.js](link).
Just add this function to `AnimatedCircularProgress.js` file

`animateColor() {
    if (!this.props.tintColorSecondary) {
      return this.prop

[2019-09-19 06:52] moahammadalt commented on #181
react-native-svg>=9.4.0 worked for me

[2019-09-19 11:48] schumannd opened #211 "Color only the center part of the circle (inside the progress bar)"
Has someone already done that? It seems to behave in weird ways when playing around with borderWidth, width and height of the inner child.

[2019-09-19 11:57] #211 closed

[2019-09-19 11:58] schumannd commented on #211
The trick is to not try to use the `backgroundColor` property of the AnimatedCircularProgress component itself (through the style prop) but to use the children elements

[2019-09-20 05:01] markusl commented on #210
@pisacode would you be able to submit a pull request to fix the issue you are experiencing?

[2019-09-24 05:24] yitelee commented on #205
Thanks for the idea of binding on ':children', I found following also works:

    <animated-circular-progress
		ref="acp1"
		:size="200"
		:width="3"
		:fill="fill"
		:onAnimationComplete="() => console.log('onAnimationComplete')"
		:children="(fill)=>getFill(fill)"
		backgroundColor="red"
		tintColor="blue"

    </animated-circular-progress>
    <nb-button success :onPress="handleBtnPress"><nb-te

[2019-09-24 05:41] akhtariali commented on #205
Yes. This is also a good solution. I, personally, prefer to keep JSX out of Vue components. This also may be helpful:
https://vue-native.io/docs/render-prop.html

[2019-10-21 16:45] mars-lan opened #213 "ArrayIndexOutOfBoundsException in 1.3.2"
Start seeing this exception in Android after upgrading from 1.3.0 to 1.3.2. Verified on `react-native-svg` 9.11.1 & 9.12.0.

[code]

[2019-10-21 18:11] CantFayle commented on #213
I'm also having this issue with version 1.3.2 - I'm using ejected expo but stack trace is similar

[2019-10-22 11:50] rafaelbpa opened #214 "backgroundColor not working on android"
Hi,

I'm trying to run a minimal example, but when I set the backgroundColor on android it crashes without any error log. The app just closes itself.

I am using
react-native 0.61.2
react-native-svg ^9.7.1 (also tried to update to latest one, 9.12.0, but nothing changed)
react-native-circular-progress 1.3.2

On iOS works just fine. The error happens on the device and simulator.

Any ideas about wh

[2019-10-22 22:59] JacopoKenzo commented on #213
Same problem here updating from 1.3.0 to 1.3.2 - only on Android

[2019-10-23 11:44] cyqui commented on #213
The following fixes it :
             strokeDasharray={Object.values(dashedBackgroundStyle)}

dashedBackgroundStyle is supposed to be an array. It's an object.

in src/CircularProgress.js

[2019-10-23 12:31] #213 closed

[2019-10-29 17:37] rafaelbpa commented on #214
After the new update of the lib (1.3.3) the bug was gone. I guess we can close this.

[2019-10-29 18:04] markusl commented on #214
Thanks for the follow-up!

[2019-10-30 23:43] TheEssenceSeeker opened #216 "Background color (inner circle)"
![](https://ibb.co/xChRHNt)
I need to specify background color of contents but it overlays a part of the circle bar.
Is there any workarounds?
Thanks!

[2019-11-01 04:49] BalalRaza commented on #214
I checked with the new update (1.3.3), it didn't work. Bug is still there and my app crashed with the same error. I did try on my friend's system as well, same issue.
I dug deeper and found the issue was not solved completely, although in the right direction.
I've created a PR for that: #217

[2019-11-01 04:50] BalalRaza commented on #214
Also, related issue: #213

[2019-11-08 20:56] AndresTIY opened #218 "RenderCap circle clips at the top of the circle, even with padding"
First of all, incredible library! SO easy to use!

My issues is whenever I render a cap and then add some padding directly to the component, the cap circle is clipped off. The progress bar is a semi circle and when the cap is rendered either at the beginning, end, or middle, it would clip when the padding prop wasn't being used. After adding padding, it stopped clipping at the beginning and end bu

[2019-11-11 12:33] git195 commented on #218
Hi,
I am also facing same issue.

Any help will be appreciated.

[2019-11-17 06:39] mishacajic commented on #218
Same issue here - even though I am not using any padding.

[2019-11-17 07:35] mishacajic commented on #218
Same problem here!

[2019-11-17 07:35] mishacajic commented on #218
I'm having the same problem.

[2019-11-20 16:34] perrosnk commented on #214
Any updates? Still not working on 1.3.4

[2019-11-20 20:25] rafaelbpa commented on #214
If this is not working, can we reopen this? @markusl

[2019-11-21 06:25] markusl commented on #214
@rafaelbpa I reopened the issue. Unfortunately I'm unable to check this with Android at the moment. Any pull requests are appreciated :)

[2019-11-21 06:34] BalalRaza commented on #214
@perrosnk Can you describe your issue a little bit? What error is occuring? I am currently using this library and I am facing no further issues after 1.3.4. I would like to fix this in case its broken for others.

[2019-11-21 13:24] rafaelbpa commented on #214
@BalalRaza and @perrosnk can you try something for me? Can you install the react-native-gesture-handler (https://github.com/kmagiera/react-native-gesture-handler) on your project and tell me if it works?

I updated my original sample to the latest version (1.3.4) and installed react-native-gesture-handler and it is working here on Android and iOS.

You can also clone and test my sample: https://gi

[2019-11-24 05:30] MehmetKaplan commented on #160
Is there any perminant solution for this issue? The abobe ones seems as workarounds.

[2019-11-24 20:38] perrosnk commented on #214
I am already using react-native-gesture-handler as I am using react-navigation.

I don't know if that helps, but that's my dependencies list

[code]

[2019-11-25 18:09] BalalRaza commented on #214
I too have it in my project. It works without any issues.

[2019-11-25 18:16] isa3bel commented on #198
I can make this small change

[2019-11-25 19:20] isa3bel commented on #216
you may need to be bring the smaller circle to the front layer, so it's on top of the background color

[2019-11-26 03:22] aboveyunhai opened #219 "dashedBackground bug?"
I have tried out the `dashedBackground` attribute and it's not parsed into `strokeDashedarray` correctly;
the problem code in `CircularProgress.js` line 88-90

    const dashedBackgroundStyle = dashedBackground.gap > 0
      ? `${dashedBackground.width}, ${dashedBackground.gap}`
      : dashedBackground;

when I passed the dashedBackground to the Component
` dashedBackground={{width:10, gap:20}}`

[2019-11-27 21:27] aboveyunhai commented on #218
The problem comes from the line
`        <G rotation={rotation} originX={size / 2} originY={size / 2}>` in CircularProgress.js.
change it to
`          <G rotation={rotation} originX={(size + padding) / 2} originY={(size + padding) / 2}>`
to give the correct center location of `<G>` inside `<Svg>`

[2019-11-30 11:23] limuyi1 opened #221 "How do colors fill dynamically？"
I want to do a dynamic effect
Similar download schedule
Can it be done？

[2019-12-02 21:37] cmlarsen commented on #219
@aboveyunhai I've experienced the same thing.

[2019-12-04 10:39] schumannd opened #222 "circle clipped on bottom and right when padding not set (or set to 0)"
Setting the padding to 1 fixes the issue.

[2019-12-05 22:34] aboveyunhai commented on #222
Please refer to solution for issue #218 and merge #220 before the package is updated.

Besides that, I had noticed that the current `<Svg>` after the merge still did not include the `renderCap` size. so you use `renderCap` in the future, it will be also clipped if it's too big.
A quick fix for this one is to give padding that is larger or equal to the renderCap's radius `r` like:
`      padding={1

[2019-12-05 22:45] erolg opened #223 "Invariant Violation When Using 'dashedBackground' Prop"
I got error when I try to use dashedBackground prop with the example app

My expo version is 3.0.9

Component Usage:
[code]
Error:
[code]

[2019-12-06 15:32] schumannd opened #224 "CGContextSetLineDash: invalid dash array: at least one element must be non-zero."
I noticed that when setting/updating the progress, the following warning/error pops up in the xCode console:

    CGContextSetLineDash: invalid dash array: at least one element must be non-zero.

Any Idea what might be the problem here?

Here is my code:

      <AnimatedCircularProgress
        size={wp(13.1)} // weird situation where wp(13) causes circle to be cutoff.
        width={wp(2)}

[2019-12-08 09:52] JohnMajor88 commented on #214
I have the same issue. Using backgroundColor causes my Android emulator to crash, but it works as expected on an IoS device. I updated to 1.3.4 and I still have the same issue. I can't update react-native-svg as later versions aren't supported by Expo. My dependencies:

 "dependencies": {
    "@react-native-community/datetimepicker": "^2.1.0",
    "expo": "^35.0.0",
    "expo-ads-admob": "^7.0.0",

[2019-12-09 16:49] schumannd commented on #200
We are experiencing similar issues, but with more severe distortions on android 7.1.1

If anyone has any Idea where to look to fix those, I would be happy to investigate it further.

![Screen Shot 2019-12-09 at 5 48 07 PM](https://user-images.githubusercontent.com/5385472/70455199-283ced00-1aac-11ea-9bb4-5fa1598ed487.png)
![Screen Shot 2019-12-09 at 5 48 11 PM](https://user-images.githubuserconten

[2019-12-18 19:35] AndresTIY opened #225 "Reset Circle Without Return Animation?"
So I'm using this circular progress bar as a timer. When the timer counts down from let's say 30 seconds, the fill amount is changed accordingly. But I need a new timer to start as soon as the 30 seconds are up, so the fill amount resets to 0 again.

When it resets, there's a return animation on top of that which is not ideal. Is there anyway to turn this off?

I looked at [this post](https://gith

[2019-12-27 13:03] ArturLansoni commented on #200
I have the same problem @schumannd, when the fill percentage is 30 the progress bar get square. The code is that:

`<AnimatedCircularProgress
                        size={210}
                        width={20}
                        lineCap="round"
                        fill={30}
                        prefill={0}
                        duration={0}
                        tintColor="#0173B

[2019-12-27 23:12] schumannd commented on #200
@ArturLansoni can you say which android API versions this occurrs at?

[2019-12-30 17:09] ArturLansoni commented on #200
I'm using Android 7.1.1

[2020-01-02 11:27] lukebars commented on #224
Noticed the strangest thing. This warning stops popping when `backgroundColor` prop isn't provided

[2020-01-02 11:44] lukebars commented on #224
Looks like `dashedBackground` is the cause here. The default is [0,0] so that explains `at least one element must be non-zero`

[2020-01-07 21:29] hari7priya commented on #214
App is crashing on Android if we have backgroundColor property

[2020-01-10 09:17] navneet7723 commented on #187
Image works perfectly fine
just make sure the size is smaller than component

<AnimatedCircularProgress
        size={200}
        width={15}
        rotation={0}
        fill={Store.connectProgress}
        tintColor={Color.rightGreen}
        backgroundColor={Color.superlight}
        lineCap="round"

        {fill => (
          <View style={styles.imageTextContainer}>
            <Image source

[2020-01-10 09:22] navneet7723 commented on #187
image works fine make sure your image is smaller than the component
AnimatedCircularProgress
        size={200}
        width={15}
        rotation={0}
        fill={Store.connectProgress}
        tintColor={Color.rightGreen}
        backgroundColor={Color.superlight}
        lineCap="round"

        {fill => (
          <View style={styles.imageTextContainer}>
            <Image source={bikeImage

[2020-01-17 10:45] kathigeiger commented on #200
<img width="105" alt="Bildschirmfoto 2020-01-17 um 11 42 59" src="https://user-images.githubusercontent.com/50204955/72606269-9338d980-391e-11ea-932e-b54cc604315e.png">
<img width="109" alt="Bildschirmfoto 2020-01-17 um 11 43 09" src="https://user-images.githubusercontent.com/50204955/72606277-96cc6080-391e-11ea-95b5-a9cd181527b9.png">

Same problem here. Working fine with iOS, clipped cap with An

[2020-01-17 11:09] schumannd commented on #200
Should we open a new issue? This seems to be different/more sever from the original issue.

[2020-01-19 19:48] amsimoes commented on #198
Yeah, also because ART was just removed from react-native.

And with Expo sdk 36 (latest) it's not shipped and can't use ART (only available on community's pkg - link required)

[2020-01-21 10:19] simonasdev opened #228 "useNativeDriver breaks functionality"
Since `useNativeDriver: true` is now in `defaultProps`, this https://github.com/facebook/react-native/issues/16218 has started to occur by default. Using `useNativeDriver={false}` works as expected.
Probably a bug in react-native's `Animated` API, but they've closed that issue even though it was not fixed. Unless there is a way to work around this, I'd suggest removing `useNativeDriver` from `defa

[2020-01-21 23:39] Dellybro opened #229 "1.3.5 Version not filling"
When i give the component a fill, it does not render the fill nor does it render new fills.

This seemed to work in 1.3.4, all of a sudden my program has stopped working the way it was supposed to

[2020-01-22 02:03] JacopoKenzo commented on #229
Same problem here! 😓

[2020-01-22 18:24] Dellybro commented on #229
For now i think everyone who is having this issue, should just install version 1.3.4 that is what i've done and the component should go back to working.

[2020-01-23 07:46] railsjack opened #230 "Circular ProgressBar breaks"
This is the problem.

![image](https://user-images.githubusercontent.com/1916657/72965505-6e010b00-3df7-11ea-96e7-2769909dbf83.png)

[2020-01-23 20:41] aboveyunhai commented on #228
It seems like a bug in RN library based on multiple issue posts. Unless you recreate the component, `fill` or 'other issue props' will remain `undefined`.
The merge #227 is intend to get rid of the new RN warning so the current fix is set `useNativeDriver={false}` in `defaultProps` so the warning would not appear or simply revert the pull.

[2020-01-23 20:59] aboveyunhai commented on #229
Please read the #227 regarding the issue merge.
Duplicate of #228 ,  check the fix.

[2020-01-24 11:35] sandeepg1220 opened #231 "tintColor and fill are not working in 1.3.4 or 1.3.5 version"
tintColor and fill are not working in 1.3.4 or 1.3.5 version. Previously worked perfectly.
If we give preFill prop it will display colour on loading.If the state is changed not working.

[2020-01-25 14:48] SPineapple opened #232 "Warning in CircularProgress"
I am having this issue when my app re-renders (this happens when a button is pressed), even though I followed the example usage guideline I keep having it:

`Warning: Failed prop type: The prop `fill` is marked as required in CircularProgress, but its value is undefined`

fill prop is there, and it has a value by giving it in
[code]

I don't know where or what should I do?

I am using Expo-cli ver

[2020-01-25 20:40] zeritte opened #233 "The package crashes the app"
Hi & thanks for creating this awesome package!
With Expo SDK36, react-native-circular-progress v1.3.5 and useNativeDriver={false}; when a screen containing this package gets rendered; the app gets frozen. I have also tried versions 1.3.2, 1.3.4 and they have the same problem. However the error is not easily reproduce-able. The app renders and works fully functional on local. When it is published t

[2020-01-27 06:30] markusl commented on #231
Hi @sandeepg1220! Thanks for reporting the issue. Since this is a community maintained package, would it be possible for you to check what might be the problem and possibly check in a pull request to improve the situation?

Best regards,
Markus

[2020-01-28 04:50] zeritte commented on #233
ok I found the issue, expo SDK36 removes react-native-svg. After installing it, the problem is gone

[2020-01-28 04:50] #233 closed

[2020-01-28 06:13] markusl commented on #228
I believe this is now fixed in 1.3.6 by #234

[2020-01-28 06:13] #228 closed

[2020-01-28 06:14] markusl commented on #232
I believe this is now fixed by #234.

[2020-01-28 06:14] #232 closed

[2020-01-31 09:15] markusl commented on #231
@sandeepg1220 do you still see the problem with the latest version?

Br, Markus

[2020-02-09 06:53] snehadange opened #235 "error while updating property fill of a view a managed by rnsvgrect"

[2020-02-09 06:53] #235 closed

[2020-02-09 07:38] markusl commented on #183
It seems that the issue has been answered. Closing this.

[2020-02-09 07:38] #183 closed

[2020-02-09 07:38] #196 closed

[2020-02-09 07:39] #193 closed

[2020-02-09 07:39] markusl commented on #219
Is this still a problem with the latest version?

[2020-02-09 07:39] markusl commented on #224
Is this still a problem with the latest version?

[2020-02-09 20:19] #219 closed

[2020-02-20 07:00] #224 closed

[2020-02-20 17:12] schumannd commented on #222
It seems like this issue is still not solved in the latest release 1.3.6
It is also hard to see, which commits are included in which releases, as no "release" tags are used in this repo. It would be helpful if releases were also marked here.

[2020-02-21 03:20] aboveyunhai commented on #225
As [this post](https://github.com/bartgryszko/react-native-circular-progress/issues/102) states, the key point is to insert some own condition before `this.animate()` inside the `componentDidUpdate`.
The return animation comes from [100->0].  If you want to use it like a clock, insert the following code to reset the `fillAnimation` hence [0->0] (the this may or may not work depends on your previou

[2020-02-24 19:08] aboveyunhai commented on #201
Might be too late. But you can definitely convert 100 to 600 by yourself; Before your `return ()`
`const fill = ( current_sec/ MAX ) * 100;  //in your case MAX = 600;`
Then for display` { () => <Text> current_sec </Text>} `

[2020-03-02 20:27] Makgora commented on #177
I found a trick with:

`<AnimatedCircularProgress
                prefill={-100}
                fill={0}
                ...
/>`

[2020-03-04 21:05] Makgora commented on #201
As the animation is not linear, the fill value is not the real time elapsed.. It may be good to access to the real counter.

[2020-03-04 22:05] Makgora commented on #137
Up ! If the animation starts on load, it's impossible to get the animation object and so impossible to stop it.

If your timer start when you arrive on a particular page, if the user access to this page, then press back and access again, and again, it creates a lot of circular progress...

[2020-03-05 15:57] aboveyunhai commented on #201
All of there really depend on your own implementation. You can always access `Date()` or from something else to setup the start and update your timer accordingly. Remember the component itself is just a way to display the values you create.

[2020-03-12 01:30] ChaossAdept7 commented on #225
@AndresTIY i solved that by using "key" prop: when you want animation to be - set and keep one certain key. When you want to reset - change key, and there will be no animation:

[code]
Here while `this._setupNotStartedYet()` this is true - i have 100% and i needed to reset it to 0 without animation. That approach worked for me.

[2020-03-13 20:02] thisjulio commented on #230
Same problem
![675720c8-d5e7-40af-aa6a-4249b034436e](https://user-images.githubusercontent.com/1529077/76655542-4bb08180-654c-11ea-8d15-ec5099e06ceb.png)

[2020-03-13 21:08] Lucasark commented on #230
Same problem
![Captura de Tela 2020-03-13 às 18 06 29](https://user-images.githubusercontent.com/31750882/76659587-98e52100-6555-11ea-8f0b-c3fc0e4b6fcd.png)

[2020-03-24 21:47] dr-star opened #240 "Timer as "fill" value"
My issue is that, the progress seems finish before the actual time. There is a way to access the remaining time?

How I have configured the increase time:
`    setInterval(() => {
      if (!this.state.stopTimer) {
        this.setState({
          currentTime: subSeconds(this.state.currentTime, 1),
        });
      }
    }, 1000);
`
How I have configured the progress:
`              <AnimatedCir

[2020-03-27 23:03] Monir-Shembesh commented on #188
hi @jovanovski , I have faced the same issue as you did and the second tint color that was already added by @talhaazhar only helps if you want to go directly from 0 to 100 and the user wouldn't really care about the values in between. I have just created a new pull request that adds a third color to enhance the UI. For me, I needed green, yellow and red colors to show the user where is their credi

[2020-04-09 01:16] mandelmonkey opened #242 "App UI freeze on device"
This component seemed to cause my app UI to freeze on the device (android) after a while

[code]

if I removed this component the freeze no longer happened

i'm new to react so wondered if there was any mistake I am making?

[2020-04-09 21:52] mandelmonkey commented on #228
this error still happens for me, in 1.3.6 I get The prop fill is marked as required but is undefined
on android running in the device

[2020-04-14 20:14] zeritte commented on #242
you also need to install react-native-svg package. make sure you have it properly

[2020-04-14 20:37] #242 closed

[2020-04-14 20:38] mandelmonkey commented on #242
I discovered that the freezing was not caused by this repo

[2020-05-07 09:21] bobsmits commented on #200
We also experience the clipping issue with round line caps on android.

[2020-05-19 02:56] hoanglm4 opened #243 "dashedTint not working"
I using dashedBackground working fine. But dashedTint not working.
[code]
[Captured screen](https://drive.google.com/file/d/11PbQCkdiFq_5PI-QUYuEAXEYr_oconhX/view?usp=sharing)

iOS simulator iPhone 11 Pro (13.4.1)
react-native-circular-progress: 1.3.6

[2020-05-19 06:57] vitalyiegorov opened #244 "ViewPropTypes has been deprecated in React Native"
Using React Native 0.62.2
PropTypes has been deprecated and will be removed https://github.com/react-native-community/discussions-and-proposals/issues/29

We are using this package with [React native web](https://github.com/necolas/react-native-web) and after 0.12 release it throws an error:
`node_modules/react-native-circular-progress/src/CircularProgress.js
Attempted import error: 'ViewPropTypes

[2020-05-20 09:00] avlonder commented on #150
I'm not sure, but I think you should be able to animate circle arcs of less than 180 degrees with useNativeDriver: true if you rotate the foreground circle using react native's transform style property and apply overflow: hidden to the background circle.

[2020-05-25 03:40] aboveyunhai commented on #243
The current version from npm install package does not include `dashtint`. For newest version, you might want to directly install from github page

[2020-05-25 03:47] hoanglm4 commented on #243
ok. dashtint is included when i install from github page

[2020-05-25 03:47] #243 closed

[2020-06-06 03:15] jedashford commented on #177
PLEASE. Someone put this in the documentation!

[2020-06-09 06:12] markusl commented on #177
@jedashford could you perhaps make a pull request of your improvement idea? :)

[2020-06-13 00:49] aboveyunhai commented on #244
since `ViewPropTypes` is only for runtime checking, simply removing it from `CircularProgress.js` is my best bet if you don't want to execute the script every time.

[2020-06-15 05:21] markusl commented on #244
@vitalyiegorov you can also provide a pull request to get this quickly fixed :)

[2020-06-19 12:26] Parthhyperlink opened #245 "Can i add more color"
Hello

I have used this progress bar and its works perfectly fine and smoothly.
i have want to add multicolor in this can i do that?
for example : 0 - 10% - red color
10% - 40% - blue color and so on.

Thanks in advance

[2020-06-24 01:41] radoman93 opened #246 "Sto reAnimate"
Is there a possibility to stop reAnimate, currently it does not return anything so I cannot stopAnimation()?

[2020-06-30 16:37] joelfsreis commented on #230
Do we have any update on this issue? I am facing the exact same issue, only on the Android platform.

[2020-06-30 16:39] joelfsreis commented on #200
Also having the same issue on the Android platform

[2020-07-01 09:33] railsjack commented on #230
Not yet

[2020-07-01 10:30] joelfsreis commented on #230
@railsjack there is something we can do to help?

[2020-07-01 15:37] railsjack commented on #230
It would be helpful if you can give me any project to do. :)

[2020-07-03 14:52] joelfsreis commented on #230
I was able to fix it by using the renderCap prop, it this iOS and Android works fine

[2020-07-05 02:24] lucasbarcellos commented on #230
@joelfsreis, did you manage to use renderCap to get the same visual result as ` lineCap={"round"}`?

[2020-07-06 23:20] aboveyunhai commented on #245
check this PR #241

[2020-07-07 11:07] ihsanktmr commented on #46
I used `rotateY` like below is my return. I am using `CircularProgress` and **it worked!**

` return (
      <View style={{...style, transform: [{
          rotateY: '-180deg'
        }]}}>
        <Svg width={size} height={size} scale="-1, 1" originX={size / 2}>
          <Defs key="linear_gradients">{linearGradients}</Defs>
          <G rotate={rotation - 90}>
            {this.renderBackgroundP

[2020-07-22 05:01] aarya17 opened #251 "Does background color support gradient?"
Is there any way we can specify a gradient for the progress bar background color vs just a flat color?

[2020-07-22 15:05] NeliHarbuzava commented on #193
Yes, this is still a problem.
Versions:

[code]

I use:
[code]

Then call:
[code]

And:
[code]

But get this error:
`Failed prop type: Invalid prop `size` of type `object` supplied to `AnimatedCircularProgress`, expected `number`.`

Although type definition says that I can use number or Animated.Value.

[2020-07-22 19:27] aboveyunhai commented on #251
check #41 and https://github.com/bartgryszko/react-native-circular-slider , if you mean conical gradient.
technically you have to chuck down the circular bar to small segments.  but you are likely to hit a bad performance issue and possibly battery consuming.

[2020-07-23 08:27] NeliHarbuzava commented on #156
If auto-linking is not for your project, you should probably do following:
Add this to **ios/Podfile**:
[code]

And then run `npx pod-install ios`.

This worked for me.

[2020-07-24 03:18] tuan8797 opened #252 "Duration run incorrectly"
When i set duration is 60000 (1 minutes). The animation run too fast when start and too slow when it reach end

[2020-07-24 20:49] aboveyunhai commented on #252
the default animation behavior is `Easing.ease`,
You can change it by `import { Easing } from 'react-native';` and add prop `easing={()=>Easing.out(Easing.linear)}` or whatever behavior you prefer

[2020-07-25 02:12] tuan8797 commented on #252
@aboveyunhai thank you very much!!

[2020-07-25 02:12] #252 closed

[2020-07-27 19:15] daimonkor opened #253 "Add suppport infinite progress"
Please add new feature "infinite progress": duration full circle move, fill value. Thanks for support.

[2020-07-30 03:00] l-ichaochao opened #254 "lineCap='round', fill小于50时，末端样式有残缺"
![image](https://user-images.githubusercontent.com/46348938/88875267-914bbd80-d253-11ea-94c3-958c41d71a14.png)
   lineCap='round',  fill小于50时，末端样式有误

[2020-07-30 03:18] l-ichaochao commented on #230
发现lineCap={"round"}时，fill的值大于30时，末端正常，小于30末端移出

[2020-08-02 07:00] aboveyunhai commented on #230
Can you guys share a little bit of device infos? And did you update the `react-native-svg` package?
I was unable to regenerate the problem but I did find some problem a `infinite render`issue and path was `cutoff` at 50%(this may relative to the problem)

[2020-08-02 11:09] markusl commented on #244
I believe this is now resolved.

[2020-08-02 11:09] #244 closed

[2020-08-02 18:05] aboveyunhai commented on #230
@joelfsreis @l-ichaochao  I was never able to recreate the problems Probably only exists on certain android devices. I do highly suspect the problem comes from some floating point rounding issue during computation.
So if you cannot provide any links with minimal issue sample code. Try the following change in your `npm_module` to  see if it resolves the problem or help me nail down the issue.
In th

[2020-08-03 17:11] railsjack commented on #230
@aboveyunhai Did you ever try this code on your android device?
I tested it on Samsung Galaxy S7 and Xiami Note 7.
[code]

[2020-08-03 17:38] aboveyunhai commented on #230
@railsjack  it could relate to specific device or android version, do you also use expo? Can you make a new project then upgrade "react-native-svg" to latest version to see if the problems persists.

[2020-08-04 02:44] railsjack commented on #230
I don't use expo. And I tried with new upgraded version.

On Tue, Aug 4, 2020 at 1:38 AM aboveyunhai <notifications@github.com> wrote:

[2020-08-04 02:55] aboveyunhai commented on #230
Can you try the above coding change I mention, it's not a bug fix, just some tests. It relates to a trivial bug I found in a very specific case. I can't guarantee these two are related.

[2020-08-04 03:40] railsjack commented on #230
Ok

[2020-08-04 20:44] tenslider commented on #156
@NeliHarbuzava thank you, your solution worked for me.

[2020-08-18 17:03] mcasarrubios commented on #193
Yes, I have the same error :(

[2020-08-18 17:46] mcasarrubios opened #255 "Animated.Value in size prop is not working"
I open a new issue because[ this one](https://github.com/bartgryszko/react-native-circular-progress/issues/193) is closed, but the problem is the same.

Supposedly `size` admits values of type Animated.value but I can't get it to work.

[2020-08-20 20:05] aboveyunhai commented on #255
Is just some type checking issue, I can quickly fix it up  The functionality should work as expect.  If you want to animate the value, you are likely to add `useNativeDriver: false`

[2020-08-24 18:39] flikQ commented on #228
I am also getting this issue on both ios and Android on 1.3.6

[2020-08-29 09:37] abdulrehmansiddiqui commented on #218
@AndresTIY is not working its give me error  element type is invalid expected a string

[2020-09-04 13:19] danielfx90 commented on #228
Me too, still happening with 1.3.6:
[code]

[2020-09-04 21:50] danielfx90 commented on #228
Oh that might be the issue. I am trying to use useNativeDriver with all animations to lighten the JS thread.

Good to know.

[2020-09-04 22:20] aboveyunhai commented on #228
Not only for this package, there are a lot of cases where `useNativeDriver: true` will crush your app especially playing around with `react-native-svg`.  This option is not well supported AFAIK. You might be aware of that.

[2020-09-16 07:29] brisma commented on #230
Same problem here, i fixed changing line 19 of CircularProgress.js from this:
`var d = ['M', start.x, start.y, 'A', radius, radius, 0, largeArcFlag, 0, end.x, end.y];`
to this:
`var d = ['M', start.x, start.y, 'A', parseInt(radius), radius, 0, largeArcFlag, 0, end.x, end.y];`

[2020-09-18 06:49] TowhidKashem opened #258 "How to pause and restart the animation?"
Hi,

I'm initiating the progress like so:

[code]

Then I'm stopping it programmatically like:

`    progressAnimation.current.stop();`

Then I try to resume it like:

`    progressAnimation.current.start();`

It looks like it works visually but the animation finishes much later than it should had I not paused it. Is there any way to pause and restart the animation?

[2020-09-20 23:39] #258 closed

[2020-09-28 15:25] williamgoodhew commented on #228
I am still getting this issue on Android using

"react-native": "0.62.2",
"react": "16.11.0",
"react-native-circular-progress": "^1.3.6",

[2020-09-29 08:02] jagwingchoy commented on #222
I have installed the latest version `v1.3.6` (I saw the merge #220 is there already) but still having a similar issue.

When I use the `AnimatedCircularProgress` component like this:

[code]

In **some devices** (like iPhone 6, Redmi 6 etc., other devices not tested), the progress bar will clip on bottom and right like this:
![image](https://user-images.githubusercontent.com/58965922/94528679-4fe3

[2020-09-29 19:53] aboveyunhai commented on #222
@jagwingchoy unfortunately, probably this the only hardcore way you can do currently.
there are fewer bugs along with this one and the `linecap` issues in the past.  My fix at that moment only addressed some of them eventually.
These two highly associate with some number **rounding** issues on some of old android versions like android 7.0 and probably old ios version also, and possibly relates `re

[2020-10-05 09:40] Sprukstish commented on #156
If everything is linked correctly, just sync your project with Gradle files and rebuild your project in Android Studio.

[2020-10-20 05:55] raviota04 opened #261 "I have a question about the corresponding fill's value above."
{
    (fill) => ( {fill} )
}

I have a question about the corresponding fill's value above.

The value of fill needs to be state that is not a child of the element.

Can't I use it outside of a function or element?

It is in a state where it needs to be used outside.

[2020-11-06 01:11] kbrandwijk commented on #201
I use this in combination with https://github.com/devboldly/react-use-precision-timer for timers. I calculate fill at `progress/total*100`, and set duration to 1000 and easing to linear for a fluent non-stop motion (optionally). My timer callback fires more once per second and progress is rounded, because there's inherent processing lag in timer callbacks in general (that's why you should never co

[2020-11-10 07:43] mokuzuu commented on #246
Having a same issue.
[code]
works, but it does not work anymore once `reAnimate` is called.

[2020-11-11 14:50] lavor commented on #244
@markusl Could you release the new version with this fix, please?

[2020-11-14 07:36] thanakij commented on #41
I have been doing something similar. My approach uses "LinearGradient" react-native-svg.

You can give it a try by:

`npm install react-native-circular-progress-gradient@1.3.8`

You will need to add **tintColorSecondary** prop to trigger the gradient mode.

![](https://i.imgur.com/zm4b8u5.jpeg)

[2020-11-23 13:43] prateekchitransh1907 commented on #156
Thank you.

[2020-12-03 13:56] Stoneski93 commented on #244
@lavor To work it on react-native-web you need also https://github.com/bakerface/react-native-svg-web
@markusl When that fix will be release?

[2020-12-10 10:16] davidbiller opened #262 "TypeError: Cannot read property 'style' of undefined"
Module.../../../react-native-circular-progress/src/CircularProgress.js
node_modules/react-native-circular-progress/src/CircularProgress.js:130

[2021-01-04 12:30] RonAmihai commented on #262
This issue appears with many RN libraries which are still using `ViewPropTypes` (like `react-native-router-flux` for example).

Those libraries should remove `ViewPropTypes` usage (it's deprecated by RN anyway) or simply do runtime availability check:
(`ViewPropTypes ? ViewPropTypes.style : PropTypes.object`)

However, as temporary fix, the above can be done in a post-install script (this can be s

[2021-01-12 01:32] hotchpotch commented on #244
#247 it works well on my project.
Could you please the new version 🙏

[2021-01-15 16:33] jordan-tpz commented on #201
@kbrandwijk Thank you for your feedback !

Can you share a code snippet by showing the combination with the [react-use-precision-timer](https://github.com/devboldly/react-use-precision-timer) package please ?

Indeed, I don't understand what `progress` and `total` values does mean in your case and how do I use the timer callback.

I entirely agree with you about `setTimeout()`.

[2021-01-19 23:11] 200even opened #265 "shadow/elevation for circular progress background"
My team wants to implement an animated circular progress indicator like this:
![Screen Shot 2021-01-19 at 3 07 14 PM](https://user-images.githubusercontent.com/13090094/105105102-45423e80-5a68-11eb-9851-296b9c623df1.png)
I have it all implemented as desired using this package except for the drop shadow. Any ideas for how to accomplish this? I've tried adding shadow styling to the `childrenContaine

[2021-01-27 02:42] aboveyunhai commented on #265
You have to overwrite the background `<path />` in the source file. Or can make a new PR to expose a `{props}` from each individual component so people can do whatever they want in the future as long as they read through `react-native-svg` .

[2021-01-27 08:34] voulgarakis opened #266 "Touch event"
Hello,

Is it possible to change the progress fill by touching and moving the circle in the renderCap?

[2021-02-04 05:07] beevekmgr commented on #218
Any updates?

[2021-02-07 08:00] #231 closed

[2021-02-07 08:00] #229 closed

[2021-03-08 16:11] sturmenta commented on #266
Are you planning to add this functionality in the future?

[2021-03-09 07:31] voulgarakis commented on #266
I did a custom implementation using PanResponder

[2021-03-11 08:53] mohamad-1994 commented on #266
can you share it with me ?
I need change progress on touch

[2021-03-16 07:15] voulgarakis commented on #266
import {
...
  PanResponder,
} from 'react-native';

const _circularProgressRef = React.createRef();
  const _panResponder = PanResponder.create({
    onStartShouldSetPanResponder: (evt, gestureState) => true,
    onStartShouldSetPanResponderCapture: (evt, gestureState) => true,
    onMoveShouldSetPanResponder: (evt, gestureState) => true,
    onMoveShouldSetPanResponderCapture: (evt, gestureState

[2021-03-17 10:36] nero2009 opened #269 "Implement indeterminate circular progress"
Please how can I implement an indeterminate circular progress.

[2021-03-22 22:26] apfritts commented on #269
There are a few other issues that also request this feature: #29, #253, and #55.

#29 has some code in it for hacking this.

As a formal feature request, I think it would be awesome to add a `loading: boolean` property that when `true` automatically animates the progress bar circling in the visible area.

[2021-03-25 10:14] guofoo opened #270 "App crashes Android on startup, just by adding the packages, not even importing"
Has anyone been able to have this working on Android recently? I've used yarn add for both packages at the latest versions. But without even adding a line of code to reference or import it, the app would crash upon startup with no visible errors anywhere.

Once I yarn remove the packages and re-run my app, everything is back to normal, so the problem happens after I install the packages.

I'm usin

[2021-03-26 06:49] sokvebolkol commented on #156
@prateekchitransh1907, thank you. It works for me:)

[2021-03-29 15:23] an0o0nym commented on #254
I have the exact same probilem.

[2021-03-29 15:27] an0o0nym commented on #254
https://github.com/bartgryszko/react-native-circular-progress/issues/230#issuecomment-693227971

That comment solved my issue.

[2021-03-29 15:46] an0o0nym commented on #230
@brisma this seem to work, but not in all cases! For example the following parameters breaks it:

[code]

[2021-04-20 19:08] IsaacIsrael opened #272 "OnFillChange doesn't work"
OnFillChange doesn't work
`
 <AnimatedCircularProgress
      size={width}
      width={strokeWidth}
      fill={percentage}
      tintColor={PRIMARY_COLOR}
      backgroundColor={DARK_GREY_COLOR}
      duration={isAnimated ? duration : 0}
      rotation={0}
      onAnimationComplete={onAnimationComplete}
      onFillChanged={(event) => console.log(event)}
    />
`

On my code onFillChanged is neve

[2021-04-25 17:02] AkshayAdiga1997 opened #273 "Support shape other than circle."
Pl allow to have square/rectangle progress. So the input now would be height, width and border radius (3 props). Thanks.

[2021-05-02 04:49] panktibardolia119933 commented on #156
**Working Solution**

I uninstalled the application from my android device.
Then, run again
npx react-native run-android **OR** react-native run-android (According to your setup)

[2021-05-18 18:01] mariohandsome commented on #156
I'm try anything, but not work.
But, after that, I removed app in Simulator and Emulator, then run `yarn ios` and `yarn android`  to rebuild app again.
It work!!!

[2021-05-21 08:53] minafa96 commented on #41
GREAT, THANK YOU! 👍

[2021-05-28 10:03] calinpastean commented on #225
I needed a similar functionality, where I needed the circle to reset to a full state, but I went through a different route:

[code]

  and used it like `circularProgressRef.current.resetCircle();` when I needed to reset the circle

[2021-05-31 15:46] GenaroNadile commented on #156
I checked the Podfile.lock inside `ios` folder and the path and from for RNSVG was `../node_modules/react-native-svg`, I changed it to `../node_modules/react-native-svg/apple` and it fixed the problem.
I don't know if that's a good practice but nothing seemed to work for me, only this.

[2021-06-14 12:59] anujgarg2291 opened #279 "RenderCap Circle is hiding behind the image"
Hi All,
I am implementing renderCap inside the animationCircularProgress. I set the image inside the animate circular progress. When I implement renderCap , so circle is going to behind the image. I want to bring in front of the image. So please help me out.
<img width="289" alt="Screenshot 2021-06-14 at 6 24 49 PM" src="https://user-images.githubusercontent.com/68196678/121896027-7b959880-cd3e-11

[2021-06-14 13:00] anujgarg2291 commented on #279
I want circle in front of image.

[2021-06-20 15:14] yamila-fraiman opened #280 "dashedTint not working as expected"
I want to display a dashed semi circular progress with dashed tint but lines do not match. How could I implement it?

![WhatsApp Image 2021-06-20 at 12 13 07](https://user-images.githubusercontent.com/71793326/122679385-fdfbdd80-d1c0-11eb-9d09-8e71fdbebc06.jpeg)

[2021-07-02 17:31] martinop opened #281 "RenderCap square"
![image](https://user-images.githubusercontent.com/10482079/124310121-bdde1880-db39-11eb-923c-4ac990da3da7.png)

Is posible to add a square/rect like the green one?

[2021-07-20 16:08] liorokach commented on #280
Hi, did you found a solution? i'm having a similar problem

[2021-07-22 09:18] danish1658 opened #283 "animate and Reanimate functions not exposed"
I used this in my expo project and when i log the ref equivalent i get this

AnimatedCircularProgress {
  "_reactInternalFiber": FiberNode {
    "tag": 1,
    "key": null,
    "type": [Function AnimatedCircularProgress],
  },
  "_reactInternalInstance": Object {},
  "context": Object {},
  "props": Object {
    "backgroundColor": "#3d5875",
    "children": [Function anonymous],
    "duration": 500

[2021-08-02 02:56] trilam1409 opened #286 "How to add circle to highest progress bar"
Hello everyone, I get an issue with the design.

You can review it via this [design link](https://i.ibb.co/KzF8xw9/Screen-Shot-2021-08-02-at-09-48-40.png).

Are there any ways that we can add a circle to the top of the progress bar like this design.

Thank you very much.

[2021-08-02 10:26] #286 closed

[2021-09-12 16:23] Eliajn commented on #200
<img width="74" alt="Screen Shot 2021-09-12 at 6 56 14 PM" src="https://user-images.githubusercontent.com/34067448/132995198-e395e3ad-be6b-4669-8ac3-f8eb325cbc3e.png">
I am having the same issue, it is working for ios but not for android

[2021-09-13 08:20] itstheandre opened #293 "Im getting a circle being cut off at the extremes parts of the circular progress (top, bottom, left and right)"
I have a component that is supposed to display the circular display with the circle, just like its in the README, however at the top, left, bottom and right sections the circle gets cur off and i dont really know how to make the smaller circle appear correctly.

[code]
There's no extra configuration, but when I run this code on my code the inner circle gets cut off if the fill is `100`, `75`, `50`

[2021-10-05 23:37] Marcoo09 commented on #293
I'm facing the same issue.

[2021-11-08 11:53] halesh71 commented on #266
is not working for me

[2021-12-04 14:02] AMBTech commented on #240
I'm also having the same issue, if I run interval for 1 minutes, the progress fills completely around 5 seconds before timeout.
`circularProgress.current.animate(100, (60 * 1000), Easing.linear);`
Any solution?
Thanks

[2022-01-12 10:39] aliraza96 commented on #280
Hi, did you find a solution, I am having the same issue here.

[2022-01-31 22:03] frankied003 opened #297 "Can't pass reference from parent to child component using hooks"
Been trying to initiate the animation in the parent component using this code:

Parent component
`
import React, { useState, useEffect, useRef } from 'react';
import { ActivityIndicator } from 'react-native';
import {
  StyleSheet,
  Modal,
  TouchableOpacity,
  Animated,
  Easing,
  Alert,
  ScrollView,
  View,
} from 'react-native';
import MainTicketFillCard from '../../AppComponents/TicketFillC

[2022-02-10 12:31] daaanigm commented on #29
@bartgryszko Did you implement this in the core? Thanks in advance. :)
 ![spinningwheel](https://cloud.githubusercontent.com/assets/2706504/17324462/eacd9fd4-58a6-11e6-980a-3fc58a7e4a33.gif)

[2022-03-29 23:33] MarquesRick commented on #156
works for me! tks

[2022-04-05 02:37] shixiaoquan opened #301 "fix warning of useNativeDriver"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-circular-progress@1.3.3` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-06-06 08:48] victorsamson1168 opened #307 "how to re initiate the progress when the animation is complete.. please help"

[2022-06-06 08:50] victorsamson1168 commented on #297
same broo.. did you fix this .?

[2022-06-17 17:05] deflexable opened #308 "will screenshot.gif be included in the release version of react native app"
i was going through the package size and found that screenshot.gif took roughly 92% (3.2mb) of the entire package which is redundant to the package itself.

So i will love to know if screenshot.gif will be bundle in the release version

![screenshot-gif](https://user-images.githubusercontent.com/57331729/174345134-7465a884-d9b4-4b7d-9f3b-466fb837a7d2.PNG)

[2022-07-01 22:36] aboveyunhai commented on #308
No, it wouldn't #268

[2022-08-01 20:32] pankti-0627 commented on #218
any updates on this ?

[2022-09-06 13:33] a-tokyo opened #309 "Release latest main branch to NPM"
Can we release the latest code to NPM?

[2022-09-13 19:23] ray-holland-es commented on #309
Bump

[2022-09-14 04:27] Callegaz opened #310 "dashedBackground doesn't work"
Trying to use dashedBackground i recevied this error

error: SyntaxError: Unexpected token, expected "}" (41:31)

  39 |         tintColor={colors.LILAC_PRIMARY}
  40 |         backgroundColor={colors.LILAC_PRIMARY}

     |                                ^
  42 |       ></AnimatedCircularProgress>
  43 |     </View>
  44 |   );

  using the indicated key of objects the code complains that it canno

[2022-09-14 04:33] #310 closed

[2022-09-14 04:34] Callegaz commented on #310
missing duble {{ }}

[2022-09-27 12:22] PeterKassab opened #311 "Glow effect in progress bar."
Greetings, i'm trying to achieve the glow effect in progress bar, would be like a neon effect, basically i'm trying to put a shadow directly on the tint.

https://imgur.com/ckCwQny

Is there some way to achieve this kind of effect? many thanks.

[2022-11-21 10:33] lytieunuong1 commented on #307
You can use ref to save the progress then call `reAnimate` function on `onAnimatioComplete`. Here is an example
`
const reAnimation = async ({finished}) => {
    // Have to check finished, if not it will be loop because calling the reAnimate function
    if (timerRef.current && finished) {
      timerRef.current?.reAnimate(
        0,
        100,
        1000,
      );
    }
  };

return <Animate

[2022-11-23 04:38] Nimesh237 opened #312 "null is not an object animate(0,0);"